@model BECategoryViewModel
@{
    ViewData["Title"] = "Create Page";
    ViewData["Description"] = "Manage site navigations and menus";
    //Layout = "~/Areas/Portal/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css" />
    <link href="~/lib/quill/quill.snow.css" rel="stylesheet" />
}
<form enctype="multipart/form-data" asp-action="@ViewContext.RouteData.Values["action"].ToString()">
    <!-- Main content -->
    <section class="content container-fluid">
        @await Html.PartialAsync("EditableSides/_Editable_ActionsBar")
        <div class="row">
            <section class="col-lg-9">
                @await Html.PartialAsync("_Editable", Model)
            </section>
            <section class="col-lg-3">
                @await Html.PartialAsync("_EditableSide", Model)
            </section>
        </div>
    </section>
    <!-- /.content -->
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="~/lib/quill/quill.min.js"></script>
    <script>

        $(document).ready(function () {

            var quill = new Quill('.editor-content', {
                placeholder: 'Compose an epic...',
                theme: 'snow'
            });
            console.log($('#Content').val());
            quill.setContents($('#Content').val());
            quill.on('editor-change', function (eventName, ...args) {
                if (eventName === 'text-change') {
                    // args[0] will be delta
                    //alert('text-change');
                    $('#Content').val(quill.getContents());
                    console.log(quill.getContents());
                } else if (eventName === 'selection-change') {
                    // args[0] will be old range
                    // alert('selection-change');
                }
            });
        }
    </script>
}