@model BECategoryViewModel
@{
    ViewData["Title"] = "Create Page";
    ViewData["Description"] = "Manage site navigations and menus";
    //Layout = "~/Areas/Portal/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    

}
<form enctype="multipart/form-data" asp-action="@ViewContext.RouteData.Values["action"].ToString()">
    <!-- Main content -->
    <section class="content container-fluid">
        @await Html.PartialAsync("EditableSides/_Editable_ActionsBar")
        <div class="row">
            <section class="col-lg-8">
                @await Html.PartialAsync("_Editable", Model)
            </section>
            <section class="col-lg-4">
                @await Html.PartialAsync("_EditableSide", Model)
            </section>
        </div>
    </section>
    <!-- /.content -->
</form>

@section Scripts
{
    
}