<!-- Main content -->
<section class="" ng-init="loadAppSettings()">
    <form ng-if="appSettings" ng-class="{'submitted': submitted}"
          ng-submit="saveAppSettings(appSettings)">
        <actions preview-url="appSettings.fullPath" back-url="'/backend/configuration/list'"></actions>
        <div class="row">
            <section class="col-lg-12">
                <div class="form-group">
                    <label class="control-label">CmsConnection</label>
                     <textarea type="text"
                              class="form-control"
                              ng-model="appSettings.ConnectionStrings.CmsConnection"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">AccountConnection</label>
                    <textarea type="text"
                              class="form-control"
                              ng-model="appSettings.ConnectionStrings.AccountConnection"></textarea>
                </div>
                <div class="col form-check mb-4">
                    <label class="form-check-label">
                        <emnput class="form-check-input" type="checkbox" ng-model="appSettings.IsSqlite" />
                        <span class="form-check-sign"></span>
                        Sqlite
                    </label>


                </div>
                <div class="form-group">
                    <label class="control-label">Default Language</label>
                    <select class="btn btn-outline-secondary custom-select"
                            ng-model="appSettings.Language">
                        <option ng-repeat="item in settings.cultures track by $index"
                                ng-value="item.specificulture">
                            {{item.fullName}}
                        </option>
                    </select>
                </div>
            </section>
        </div>
    </form>
</section>
<!-- /.content -->