<div class="form-group">
    <label class="control-label" ng-bind="$ctrl.data.name"></label>
    <div ng-switch="$ctrl.data.dataType">
        <div ng-switch-when="0">
            <input class="form-control" type="text" ng-model="$ctrl.data.value">
        </div>
        <div ng-switch-when="1">
            <input class="form-control" type="number" ng-model="$ctrl.data.value">
        </div>
        <div ng-switch-when="2">
            <custom-image header="''" type="'Modules'" folder="activedPage.seoName"
                          src-url="$ctrl.data.value" ng-src="{{$ctrl.data.value}}" auto="'true'" />
        </div>
        <div ng-switch-when="3">
            <div class="no-margin no-padding">
                <select class="form-control selectpicker" ng-model="$ctrl.data.value">
                    <option value="fa fa-envelope" data-content="<span><em class='fa fa-1x fa-envelope'></em></span>"></option>
                    <option value="fa fa-facebook" data-content="<span><em class='fa fa-1x fa-facebook'></em></span>"></option>
                    <option value="fa fa-twitter" data-content="<span><em class='fa fa-1x fa-twitter'></em></span>"></option>
                    <option value="fa fa-linkedin" data-content="<span><em class='fa fa-1x fa-linkedin'></em></span>"></option>
                    <option value="fa fa-skype" data-content="<span><em class='fa fa-1x fa-skype'></em></span>"></option>
                    <option value="fa fa fa-car" data-content="<span><em class='fa fa fa-car'></em></span>"></option>
                    <option value="fa fa fa-building" data-content="<span><em class='fa fa-building'></em></span>"></option>
                    <option value="fa fa fa-language" data-content="<span><em class='fa fa-language'></em></span>"></option>
                    <option value="fa fa fa-paper-plane-o" data-content="<span><em class='fa fa fa-paper-plane-o'></em></span>"></option>
                    <option value="fa fa fa-users" data-content="<span><em class='fa fa fa-users'></em></span>"></option>
                    <option value="fa fa fa-ticket" data-content="<span><em class='fa fa fa-ticket'></em></span>"></option>
                    <option value="now-ui-icons objects_globe" data-content="<span><em class='fa fa-1x now-ui-icons objects_globe'></em></span>"></option>
                    <option value="now-ui-icons tech_watch-time" data-content="<span><em class='fa fa-1x now-ui-icons tech_watch-time'></em></span>"></option>
                    <option value="now-ui-icons education_atom" data-content="<span><em class='fa fa-1x now-ui-icons education_atom'></em></span>"></option>
                </select>
            </div>
        </div>
        <div ng-switch-when="4">
            <textarea ng-model="$ctrl.data.value" ng-init="$ctrl.initEditor()" class="form-control code-editor {{$ctrl.data.name}}"></textarea>
        </div>
        <div ng-switch-when="5">
            <textarea ng-model="$ctrl.data.value" ng-init="$ctrl.initEditor()" class="form-control editor-content {{$ctrl.data.name}}"></textarea>
        </div>
        <div ng-switch-when="6">
            <textarea ng-model="$ctrl.data.value" ng-init="$ctrl.initEditor()" class="form-control">$ctrl.Value</textarea>
        </div>
        <div ng-switch-when="7">
            <input class="form-control" type="checkbox" ng-model="$ctrl.data.value">
        </div>
        <div ng-switch-when="8">
            <textarea ng-model="$ctrl.data.value" ng-init="$ctrl.initEditor()" class="form-control editor-content {{$ctrl.data.name}}">$ctrl.Value</textarea>
        </div>
        <div ng-switch-when="9">
            <input class="form-control" type="date" ng-model="$ctrl.data.value" />
        </div>
        <div ng-switch-when="10">
            <input class="form-control" type="datetime" ng-model="$ctrl.data.value" />
        </div>
    </div>
</div>