@model Swastika.IO.Cms.Lib.ViewModels.CultureViewModel

@{
    ViewData["Title"] = "Create Culture";
}
<div class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Specificulture" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Specificulture" class="form-control" />
            <span asp-validation-for="Specificulture" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Lcid" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Lcid" class="form-control" />
            <span asp-validation-for="Lcid" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Alias" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Alias" class="form-control" />
            <span asp-validation-for="Alias" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FullName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Icon" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control colmd-2 selectpicker" asp-for="Icon">
                <option value="flag-icon-us" data-content="<h4><i class='flag-icon h4 flag-icon-us'></i> en-us</h4>"></option>
                <option value="flag-icon-gb" data-content="<h4><i class='flag-icon h4 flag-icon-gb'></i> en-uk</h4>"></option>
                <option value="flag-icon-vn" data-content="<h4><i class='flag-icon h4 flag-icon-vn'></i> vi-vn</h4>"></option>
                <option value="flag-icon-cn" data-content="<h4><i class='flag-icon h4 flag-icon-cn'></i> zh-TW</h4>"></option>
            </select>

            @*<div class="form-check">
                    <label class="form-check-label">
                        <input asp-for="Icon" class="form-check-input" type="radio" value="flag-icon-us" checked>
                        <i class="flag-icon flag-icon-us"></i> Usa
                    </label>
                    <label class="form-check-label">
                        <input asp-for="Icon" class="form-check-input" type="radio" value="flag-icon-vn" checked>
                        <i class="flag-icon flag-icon-vn"></i> Vietnam
                    </label>
                </div>*@
        </div>
    </div>
</div>

