@{
    ViewData["Title"] = "Home Page";
}


<ngx-app>Loading...</ngx-app>
<link href="~/css/portal.css" rel="stylesheet" type="text/css" />
<link href="~/portal/styles.4c8d2d1d8dde56dbad79.bundle.css" rel="stylesheet" type="text/css" />

<div id="nb-global-spinner" class="spinner">
    <div class="blob blob-0"></div>
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
    <div class="blob blob-3"></div>
    <div class="blob blob-4"></div>
    <div class="blob blob-5"></div>
</div>
@section scripts {
    <script type="text/javascript" src="~/portal/inline.b74bd592034736e9a3b3.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/portal/polyfills.f67607b20b4e36c0a515.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/portal/scripts.bbad15d3fe1881ca3ebd.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/portal/vendor.f344074cda2825af3261.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/portal/main.ede188375a2407090422.bundle.js" asp-append-version="true"></script>
}