
@model Swastika.Cms.Lib.ViewModels.FileViewModel
@{
    ViewData["Title"] = "File - " + Model.FileFolder;
    //Layout = "~/Areas/Portal/Views/Shared/_Layout.cshtml";
}


<!-- Main content -->
<section class="content container-fluid">
    <form asp-controller="@ViewContext.RouteData.Values["controller"].ToString()"
          asp-action="@ViewContext.RouteData.Values["action"].ToString()"
          asp-route-folder="@Model.FileFolder"
          asp-route-name="@Model.Filename">
        @await Html.PartialAsync("EditableSides/_Editable_ActionsBar")
        <div class="row" style="position:relative;">
            <section class="col-lg-12">
                @await Html.PartialAsync("_Editable_File", Model)
            </section>
            @*<section class="col-lg-3 edit-side">
                @await Html.PartialAsync("EditableSides/_EditableSide_Actions")
            </section>*@
        </div>
    </form>
</section>