<template>
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Swastika I/O</h3>
                        <menu-component />
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">All in One platform.</h1>
                    <p class="lead"><strong>Swastika I/O</strong> is a fully open source, hackable platform for building and running a modern online publication.</p>
                    <p class="lead">
                        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
                    </p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Powered with ❤ by <a href="http://www.swastika.io">Swastika I/O</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./home.ts"></script>
<style src="./home.css"></style>