<div class="row position-sticky" style="top: 3.5rem; z-index: 12;">
    <div class="col-sm-12">
        <div class="card sw-nav-action mb-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 text-center ">
                        <button type="submit" class="btn btn-link btn-block">
                            <span class="oi oi-cloud-upload"></span> <span class=" text-success">SAVE</span>
                        </button>
                    </div>
                    <div class="col-sm-3 text-center" ng-show="$ctrl.previewUrl">
                        <a href="{{$ctrl.previewUrl}}" class="btn btn-link " target="_blank">
                            <span class="oi oi-eye"></span> <span class="text-info">PREVIEW</span>
                        </a>
                    </div>
                    <div class="col-sm-3 text-center" ng-show="$ctrl.backUrl">
                        <a href="{{$ctrl.backUrl}}" class="btn btn-link">
                            <span class="oi oi-arrow-left"></span> <span class=" text-warning">BACK</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
