<nav class="fixed">
  <footer>
    <span class="created-by">
      Created with ♥ by <b _ngcontent-c5="">
        <a href="http://swastika.io" target="_blank">Swastika I/O</a>
      </b> 2017
    </span>
    <div class="socials">
      <a class="ion ion-social-github" href="#" target="_blank"></a>
      <a class="ion ion-social-facebook" href="#" target="_blank"></a>
      <a class="ion ion-social-twitter" href="#" target="_blank"></a>
      <a class="ion ion-social-linkedin" href="#" target="_blank"></a>
    </div>
  </footer>
</nav>
