<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Swastika I/O</title>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="~/sw-content/themes/now-ui-kit-pro-v1.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/sw-content/themes/now-ui-kit-pro-v1.1.0/css/now-ui-kit.css?v=1.1.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/sw-content/themes/now-ui-kit-pro-v1.1.0/css/demo.css" rel="stylesheet" />
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-white navbar-absolute navbar-transparent fixed-top">
        <div class="container">
            <div class="dropdown button-dropdown">
                <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                    <span class="button-bar"></span>
                    <span class="button-bar"></span>
                    <span class="button-bar"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-header">Dropdown header</a>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">One more separated link</a>
                </div>
            </div>
            <div class="navbar-translate">
                <a class="navbar-brand" href="http://www.swastika.io" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
                    Swastika I/O (MVC)
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" data-nav-image="../assets/img/blurred-image-1.jpg" data-color="orange">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class='now-ui-icons design_app'></i> <p>Home</p>
                        </a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link" [routerLink]="['/counter']">
                            <i class='now-ui-icons files_paper'></i> <p>Counter</p>
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link" [routerLink]="['/blog']">
                            <i class='now-ui-icons files_paper'></i> <p>Blog</p>
                        </a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="/?app=true">
                            <i class='now-ui-icons design_app'></i> <p>Home (SPA)</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portal?app=true">
                            <i class='now-ui-icons ui-1_settings-gear-63'></i> <p>Portal</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ngx-admin?app=false">
                            <i class='now-ui-icons ui-1_settings-gear-63'></i> <p>ngx-admin</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    @RenderBody()

    <footer class="footer footer-default ">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="/portal">
                            Portal
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/home']">
                            Home
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/counter']">
                            Counter
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/blog']">
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy; 2017, Build with <i class="fa fa-heartbeat"></i> by
                <a href="http://www.swastika.io" target="_blank">Swastika I/O</a>. Coded by
                <a href="http://www.smileway.co" target="_blank">Smileway Team</a>.
            </div>
        </div>
    </footer>


    <!--   Core JS Files   -->
    <script src="~/sw-content/themes/now-ui-kit-pro-v1.1.0/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script src="~/sw-content/themes/now-ui-kit-pro-v1.1.0/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/sw-content/themes/now-ui-kit-pro-v1.1.0/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/sw-content/themes/now-ui-kit-pro-v1.1.0/js/plugins/moment.min.js"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="~/sw-content/themes/now-ui-kit-pro-v1.1.0/js/plugins/bootstrap-switch.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/sw-content/themes/now-ui-kit-pro-v1.1.0/js/plugins/bootstrap-tagsinput.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/sw-content/themes/now-ui-kit-pro-v1.1.0/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/sw-content/themes/now-ui-kit-pro-v1.1.0/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/sw-content/themes/now-ui-kit-pro-v1.1.0/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="~/sw-content/themes/now-ui-kit-pro-v1.1.0/js/plugins/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script src="~/sw-content/themes/now-ui-kit-pro-v1.1.0/js/now-ui-kit.js?v=1.1.0" type="text/javascript"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
