<div id="sidebar" class="sw-sidebar">

  <form class="sw-search d-flex align-items-center">
    <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off">
    <button class="btn btn-link sw-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#sw-docs-nav"
      aria-controls="sw-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false">
        <title>Menu</title>
        <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" />
      </svg>

    </button>
  </form>
  
  <nav class="collapse sw-links" id="sw-docs-nav">
      <div class="sw-toc-item">
        <a routerLink="/portal/messenger" class="sw-toc-link">
          <img src="https://avatars1.githubusercontent.com/u/3785721?s=40&v=4" width="50" height="50" alt="" class="img rounded-circle">
          <span class="text">Huy Nguyen</span>
        </a>
      </div>
    </nav>
    <nav class="collapse sw-links" id="sw-docs-nav">
        <div class="sw-toc-item">
          <a routerLink="/portal/messenger" class="sw-toc-link">
            <img src="https://avatars3.githubusercontent.com/u/5327699?s=96&v=4" width="50" height="50" alt="" class="img rounded-circle">
            <span class="text">Nhat Hoang</span>
          </a>
        </div>
      </nav>
      <nav class="collapse sw-links" id="sw-docs-nav">
          <div class="sw-toc-item">
            <a routerLink="/portal/messenger" class="sw-toc-link">
              <img src="https://avatars3.githubusercontent.com/u/16043453?s=96&v=4" width="50" height="50" alt="" class="img rounded-circle">
              <span class="text">Duy Tran</span>
            </a>
          </div>
        </nav>
        <nav class="collapse sw-links" id="sw-docs-nav">
            <div class="sw-toc-item">
              <a routerLink="/portal/messenger" class="sw-toc-link">
                <img src="https://avatars0.githubusercontent.com/u/16921163?s=96&v=4" width="50" height="50" alt="" class="img rounded-circle">
                <span class="text">Lorem</span>
              </a>
            </div>
          </nav>
</div>