.sw-sidebar {
    width: 400px;
    nav {
        .sw-toc-link {
            .text {
                padding-left: 10px;
            }
        }
    }
}

.sw-links{
    padding: 0;
}

@media (min-width: 1200px) {
    .sw-sidebar {
        max-width: 400px;
    }
}