<section id="about-us">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Về chúng tôi</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore
                magna aliqua. Ut enim ad minim veniam</p>
        </div>
    </div>
    <!--/.container-->
</section>
<!--/#feature-->

