<!-- Modal -->
<div class="modal fade modal-default" id="dlg-preview-popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog {{$ctrl.previewObject.size}} modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title" ng-bind="$ctrl.previewObject.title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="container">
                    <div ng-switch="$ctrl.previewObject.type">
                        <div class="row" ng-switch-when="img">
                            <div class="col-md-12 p-0">
                                <!-- <img style="max-height: 350px;display:block;margin:10px auto" ng-src="{{$ctrl.previewObject.data}}" /> -->
                                <img ng-src="{{$ctrl.previewObject.data}}" />
                            </div>
                        </div>
                        <div ng-switch-when="product" class="mt-2">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <!-- <img style="max-height: 350px;display:block;margin:10px" ng-src="{{$ctrl.previewObject.data.imageUrl}}" /> -->
                                    <img ng-src="{{$ctrl.previewObject.data.imageUrl}}" />
                                    <p>
                                        <a class="btn btn-info btn-preview mr-2" style="float:right" href="{{$ctrl.previewObject.data.detailsUrl}}" target="_blank">Preview</a>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" ng-bind-html="$ctrl.previewObject.data.content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>