@model Swastika.Cms.Lib.ViewModels.FrontEnd.FEModuleViewModel

@if (Model != null && Model.Data.TotalItems > 0)
{

    <div class="pricing-area text-center">
        <div class="row">
            @foreach (var item in Model.Data.Items)
            {
                string cl = string.Empty;
                switch (Model.Data.Items.IndexOf(item))
                {
                    case 0:
                        cl = "one";
                        break;
                    case 1:
                        cl = "two";
                        break;
                    case 2:
                        cl = "three";
                        break;
                    case 3:
                        cl = "four";
                        break;
                    case 4:
                        cl = "five";
                        break;
                    case 5:
                        cl = "six";
                        break;
                    case 6:
                        cl = "seven";
                        break;
                    default:
                        break;
                }

                <div class="col-sm-4 plan price-@cl wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    @if (item.GetStringValue("IsFeatured") == "True")
                    {
                        <img src="/images/ribon_one.png">
                    }
                    <ul>
                        <li class="heading-@cl">
                            <h1>@item.GetStringValue("Title")</h1>
                            <span>@item.GetStringValue("Price")</span>
                        </li>
                        @Html.Raw(@item.GetStringValue("Description"))
                    </ul>
                </div>
            }

        </div>
    </div>
    <!--/.container-->
    <!--/#prices-->
}







