@{
    ViewData["Title"] = "Home Page";
}


<ngx-app>Loading...</ngx-app>
<link href="~/assets/css/ngx-admin.css" rel="stylesheet" type="text/css" />
<link href="~/portal/styles.bundle.css" rel="stylesheet" type="text/css" />

<div id="nb-global-spinner" class="spinner">
    <div class="blob blob-0"></div>
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
    <div class="blob blob-3"></div>
    <div class="blob blob-4"></div>
    <div class="blob blob-5"></div>
</div>
@section scripts {
    <script type="text/javascript" src="~/portal/inline.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/portal/polyfills.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/portal/scripts.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/portal/vendor.bundle.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/portal/main.bundle.js" asp-append-version="true"></script>
}