@{
    var contact = new Swastika.Cms.Lib.ViewModels.Info.InfoModuleDataViewModel();
    string culture = ViewBag.culture;
    int id = 16;
    Swastika.Cms.Lib.ViewModels.FrontEnd.FEModuleViewModel module = 
        (await Swastika.Cms.Lib.ViewModels.FrontEnd.FEModuleViewModel.Repository.GetSingleModelAsync(
m => m.Id == id && m.Specificulture == culture)).Data;
    if (module != null)
    {
        contact = new Swastika.Cms.Lib.ViewModels.Info.InfoModuleDataViewModel()
        {
            Id = Guid.NewGuid().ToString("N"),
            ModuleId = id,
            Columns = module.Columns,
            Specificulture = culture,
            Fields = module.Fields
        };
    }
}
<section id="contact-page">
    <div class="container">
        <div class="center">
            <h2>Drop Your Message</h2>
            <p class="lead">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
            @Html.Partial("Forms/_Module_Data_Default", contact)
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#contact-page-->
