<div class="row position-sticky" style="top: 3.5rem; z-index: 12;">
    <div class="col-sm-12">
        <div class="card sw-nav-action">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-3 text-center">
                        <button type="button" onclick="this.form.submit()" class="btn btn-link btn-block">
                            <span class="oi oi-cloud-upload"></span> SAVE
                        </button>
                    </div>
                    <div class="col-sm-3 text-center">
                        <button type="button" class="btn btn-link">
                            <span class="oi oi-eye"></span> PREVIEW
                        </button>
                    </div>
                    <div class="col-sm-3 text-center">
                        <button type="button" class="btn btn-link">
                            <span class="oi oi-clipboard"></span> DRAFT
                        </button>
                    </div>
                    <div class="col-sm-3 text-center">
                        <button type="button" class="btn btn-link">
                            <span class="oi oi-timer"></span> SCHEDULER
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>