@model BEArticleViewModel
@{
    var types = Html.GetEnumSelectList<Swastika.Cms.Lib.SWCmsConstants.CateType>();
    string img = Model != null ? Model.Image : "http://placehold.it/200x200";
    string thumb = Model != null ? Model.Thumbnail : "http://placehold.it/200x200";
    var templates = new SelectList(Model.Templates, "Filename", "Filename");
}

@await Html.PartialAsync("EditableSides/_EditableSide_Actions")

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Feature Image</h3>
        <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            <label asp-for="Icon" class="col-md-2 control-label"></label>
            <span asp-validation-for="Icon" class="text-danger"></span>
            <div class="col-md-10">
                <select asp-for="@Model.Icon" class="form-control selectpicker" >       
                    <option value="">Select Icon</option>
                    <option value="fa fa-envelope" data-content="<span><i class='fa fa-1x fa-envelope'></i></span>"></option>

                    <option value="fa fa-facebook" data-content="<span><i class='fa fa-1x fa-facebook'></i></span>"></option>
                    <option value="fa fa-twitter" data-content="<span><i class='fa fa-1x fa-twitter'></i></span>"></option>
                    <option value="fa fa-linkedin" data-content="<span><i class='fa fa-1x fa-linkedin'></i></span>"></option>
                    <option value="fa fa-skype" data-content="<span><i class='fa fa-1x fa-skype'></i></span>"></option>

                    <option value="fa fa fa-car" data-content="<span><i class='fa fa fa-car'></i></span>"></option>
                    <option value="fa fa fa-building" data-content="<span><i class='fa fa-building'></i></span>"></option>
                    <option value="fa fa fa-language" data-content="<span><i class='fa fa-language'></i></span>"></option>
                    <option value="fa fa fa-paper-plane-o" data-content="<span><i class='fa fa fa-paper-plane-o'></i></span>"></option>
                    <option value="fa fa fa-users" data-content="<span><i class='fa fa fa-users'></i></span>"></option>
                    <option value="fa fa fa-ticket" data-content="<span><i class='fa fa fa-ticket'></i></span>"></option>
                </select>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Feature Image</h3>
        <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">

        <div class="form-group">
            <label asp-for="Image" class="col-md-2 control-label"></label>
            <span asp-validation-for="Image" class="text-danger"></span>
            <div class="col-md-10">

                <label class="custom-file">
                    <img src="@img" name="pic" class="custom-file-img " accept="image/*" />
                    <input type="file" name="pic" class="custom-file-input">
                    <input type="hidden" value="Articles/@Model.SeoTitle" class="folder-val" />
                    <input type="text" asp-for="Image" class="form-control custom-file-val">
                    <span class="custom-file-control">Browse</span>
                </label>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>


<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Thumbnail Image</h3>
        <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">

        <div class="form-group">
            <label asp-for="Thumbnail" class="col-md-2 control-label"></label>
            <span asp-validation-for="Thumbnail" class="text-danger"></span>
            <div class="col-md-10">

                <label class="custom-file">
                    <img src="@thumb" name="pic" class="custom-file-img " accept="image/*" />
                    <input type="file" name="pic" class="custom-file-input">
                    <input type="hidden" value="Articles/@Model.SeoTitle" class="folder-val" />
                    <input type="text" asp-for="Thumbnail" class="form-control custom-file-val">
                    <span class="custom-file-control">Browse</span>
                </label>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>