@model BEArticleViewModel

@{
    ViewData["Title"] = "Create Article";
    Layout = "~/Areas/Portal/Views/Shared/_Layout.cshtml";
    string img = Model != null ? Model.ImageUrl : "http://placehold.it/200x200";
}

<!-- Main content -->
<section class="content container-fluid">    
    <form asp-action="@ViewContext.RouteData.Values["action"].ToString()"
          asp-route-categoryId="@ViewBag.categoryId"
          enctype="multipart/form-data"
          >
        <div class="row">

            <section class="col-lg-9">
                @await Html.PartialAsync("_Editable", Model)
            </section>
            <section class="col-lg-3">
                @await Html.PartialAsync("_EditableSide", Model)
            </section>

        </div>
    </form>
</section>
<!-- /.content -->
<!-- /.box-body -->

@section Scripts{
    <script>
        $(document).ready(function
            () {

            $('.AddObject').click(function (e) {
                var i = $(".field-row").length;
                var moduleId = $(this).attr('moduleId');
                $('.btn-save-data').attr('moduleId', moduleId);
                $.ajax({
                    url: '/vi-vn/Portal/Module/AjaxAddModuleData/' + moduleId,
                    success: function (data) {
                        //$('#Table > tbody').append(data);
                        $('#modal-data .modal-body').html(data);
                        $('#modal-data').modal('show')
                    },
                    error: function (a, b, c) {
                        alert(a + " " + b + " " + c);
                    }
                });
            });

            $(document).on('click', '.btn-edit-data', function () {

                var dataId = $(this).attr('dataId');
                $('.btn-save-data').attr('dataId', 'data-' + dataId);
                $.ajax({
                    url: '/vi-vn/Portal/Module/AjaxEditModuleData/' + dataId,
                    success: function (data) {
                        //$('#Table > tbody').append(data);
                        console.log(data);
                        $('#modal-data .modal-body').html(data);
                        $('#modal-data').modal('show');
                    },
                    error: function (a, b, c) {
                        alert(a + " " + b + " " + c);
                    }
                });
            });

            $(document).on('click', '.btn-save-data', function (e) {

                var container = $('#module-' + $(this).attr('moduleId'));
                var dataId = $(this).attr('dataId');
                e.preventDefault();
                var frm = $('#frm-data');
                var url = '/vi-vn/Portal/Module/AjaxSaveModuleData';
                //SW.Common.ajaxSubmitForm(frm, url);
                var data = frm.serialize();
                $.ajax({
                    type: 'Post',
                    url: '/vi-vn/Portal/Module/AjaxSaveModuleData', //frm.attr('action'),
                    data: data,
                    success: function (data) {
                        if (dataId != '') {
                            $('#' + dataId).replaceWith(data);
                        } else {
                            $(container).find('tbody').append(data);

                        }

                        $('#modal-data').modal('hide');
                    },
                    error: function (data) {
                        SW.Common.showError(data.toSource());
                    },
                });
            });

            $(document).on('ifChanged', '.cb-active-data', function (e) {
                var articleId = $('#Id').val();
                var dataId = $(this).attr('dataId');
                $.ajax({
                    type: 'GET',
                    url: '/vi-vn/Portal/Module/AjaxAtiveModuleData/' + articleId + '/' + dataId + '/' + $(this).is(':checked'),
                    success: function (data) {
                    },
                    error: function (a, b, c) {
                        alert(a + " " + b + " " + c);
                    }
                });
            })
            $(document).on('ifChanged', '.cb-active-module', function (e) {
                var moduleid = $(this).data('module-id');
                $('.module-data-' + moduleid).toggleClass('hidden');
            })
        })
    </script>
}

@section Modals{
    <div class="modal fade" id="modal-data">
        <div class="modal-dialog modal-lg">
            <form id="frm-data" asp-controller="Module" asp-action="AjaxSaveModuleData">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Edit</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default pull-left" data-dismiss="modal">Close</a>
                        <a class="btn btn-primary btn-save-data">Save changes</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </form>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
}