@model Swastika.Extension.Blog.Models.Blog

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Blog</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Slug" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedUtc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedUtc" class="form-control" />
                <span asp-validation-for="CreatedUtc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedUtc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedUtc" class="form-control" />
                <span asp-validation-for="ModifiedUtc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PublishedUtc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PublishedUtc" class="form-control" />
                <span asp-validation-for="PublishedUtc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedByUserId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedByUserId" class="form-control" />
                <span asp-validation-for="CreatedByUserId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CommonStatusId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CommonStatusId" class="form-control" />
                <span asp-validation-for="CommonStatusId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
