@using Microsoft.AspNetCore.Identity
@using Swastika.Identity.Models;
@using Swastika.Identity.Repositories;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">

        <li asp-action="">
            <a asp-area="Portal" asp-controller="Portal" asp-action="">Portal</a>
        </li>
        <li>
            <a href="#" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Logout">Log out</a>
        </li>
    </form>
}
else
{
    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
}
