@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Swastika.Cms.Lib.ViewModels.FrontEnd.FEModuleViewModel

@if (Model != null && Model.Data.TotalItems > 0)
{
    
    <div class="pricing-area text-center">
        <div class="row">
                @foreach (var item in Model.Data.Items)
                {
                    <div class="col-sm-4 plan price-one wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                        <ul>
                            <li class="heading-one">
                                <h1>Người lớn</h1>
                                <span>€73/người/ngày</span>
                            </li>
                            <li>Phòng đôi dành cho 2 người</li>
                            <li>Ăn sáng kiểu Âu</li>
                            <li>xe du lịch 46 chỗ hiện đại</li>
                            <li>1 Hướng dẫn viên người Việt/Hoa/Anh</li>
                            <li>24/7 Support</li>
                        </ul>
                    </div>
                }
            
        </div>
    </div>
    <!--/.container-->
<!--/#prices-->
}


