@model BEProductViewModel

@{
    ViewData["Title"] = "Edit";
    //Layout = "~/Areas/Portal/Views/Shared/_Layout.cshtml";
    string culture = ViewBag.culture; string currentId = ViewContext.RouteData.Values["Id"] == null ? string.Empty : ViewContext.RouteData.Values["Id"].ToString();
    var translator = Swastika.Cms.Lib.SWCmsHelper.GetTranslator(culture);
}

<!-- Main content -->
<section class="content container-fluid" ng-controller="ProductController" ng-init="loadProducts();loadProduct('@currentId')">
    <div class="loader-container" ng-show="isBusy">
        <div id="loader"></div>
    </div>

    <form ng-class="{'submitted': submitted}"
          ng-submit="saveProduct(activedProduct)">

        @Html.Partial("EditableSides/_Editable_ActionsBar")


        <div class="alert alert-danger" role="alert" ng-if="errors.length > 0">
            <span class="text-danger" ng-repeat="err in errors">
                {{err}}
            </span>
        </div>

        <product-main product="activedProduct"></product-main>
        <div class="row">
            <div class="col-sm-12">
                <tabs>
                    <pane title="General">
                        <product-general product="activedProduct"></product-general>
                    </pane>
                    <pane title="Seo">
                        <product-seo product="activedProduct"></product-seo>
                    </pane>
                    <pane title="Parents">
                        <product-parents product="activedProduct"></product-parents>
                    </pane>
                    <pane title="Modules">
                        <product-modules product="activedProduct"></product-modules>
                    </pane>
                    <pane title="Layout">
                        <div class="tab-pane">
                            <div class="form-group">
                                @*<label asp-for="Template" class="control-label"></label>*@
                                <div class="">
                                    @*@Html.Partial("_Editor_Code", Model.View, new ViewDataDictionary(this.ViewData) { { "Files", Model.Templates }, { "Name", "View" } })*@
                                </div>
                            </div>
                        </div>
                    </pane>
                    <pane title="Medias">
                        <product-medias product="activedProduct" medias="mediaData"></product-medias>

                    </pane>
                    <pane title="Related">
                        <product-related product="activedProduct" list="data"></product-related>
                    </pane>
                </tabs>

            </div>
        </div>
    </form>
</section>
<!-- /.content -->

@section Scripts{

    <script src="~/app/controllers/portal-product-controller.js"></script>
    <script src="~/app/portal/components/product/general/productGeneral.js"></script>
    
<script src="~/app/portal/components/product/main/productMain.js"></script>
    <script src="~/app/portal/components/product/seo/productSeo.js"></script>
<script src="~/app/portal/components/product/medias/productMedias.js"></script>
<script src="~/app/portal/components/product/modules/productModules.js"></script>
<script src="~/app/portal/components/product/related/productRelated.js"></script>
    <script src="~/app/portal/components/product/parents/productParents.js"></script>
}
