@{
    ViewData["Title"] = "Products";
    ViewData["Description"] = "Manage site navigations and menus";
}
<!-- Main content -->
<section class="content container-fluid" ng-controller="ProductController">
    <div class="loader-container" ng-show="isBusy">
        <div id="loader"></div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a asp-area="Portal" asp-controller="Product" asp-action="Create" class="btn btn-secondary"><i class="mi mi-Add"></i></a>
                    @*<a asp-area="Portal" asp-controller="Product" asp-action="Index" class="btn btn-secondary"><i class="mi mi-List"></i></a>*@
                    @*<a asp-area="Portal" asp-controller="Product" asp-action="Draft" class="btn btn-secondary"><i class="mi mi-Paste"></i></a>*@
                </div>
                <div class="btn-group dropdown mr-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownOrderBy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{request.status}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownOrderBy">
                        <button class="dropdown-item" ng-repeat="item in swStatus track by $index" ng-model="request.status" ng-click="request.status=item;loadProducts();"
                                value="{{item}}">
                            {{item}}
                        </button>
                    </div>
                </div>
                @*<div class="btn-group dropdown mr-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownOrderBy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{request.orderBy}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownOrderBy">
                        <button class="dropdown-item" ng-repeat="item in orders track by $index" ng-model="request.orderBy" ng-click="request.orderBy=item.value;loadProducts();" value="{{item.value}}">{{item.title}}</button>
                    </div>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button class="btn btn-secondary" ng-repeat="item in directions track by $index" ng-model="request.direction" ng-click="request.direction=item.value;loadProducts();" value="{{item.value}}">{{item.title}}</button>
                </div>
                <div class="dropdown mr-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownItemPerPage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{request.pageSize}} items
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownItemPerPage">
                        <button class="dropdown-item" ng-repeat="item in pageSizes track by $index" ng-model="request.pageSize" ng-click="request.pageSize=item;loadProducts();" value="{{item}}">{{item}}</button>
                    </div>
                </div>
                <div class="input-group mr-2" role="group" aria-label="First group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id=""><i class="mi mi-Calendar"></i></span>
                    </div>
                    <input type="date" ng-model="request.fromDate" ng-change="loadProducts()" class="form-control" />
                    <input type="date" ng-model="request.toDate" ng-change="loadProducts()" class="form-control" />
                </div>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend" ng-click="loadProducts()">
                    <div class="input-group-text" id="btnGroupAddon"><i class="mi mi-Search" style="top:0;"></i></div>
                </div>
                <input ng-model="request.keyword" ng-enter="loadProducts()" type="text" class="form-control" placeholder="Search......" aria-label="Search......" aria-describedby="btnGroupAddon">
            </div>
        </div>
    </div>

    @*<div class="row">
            <div class="col-md-8">
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a asp-area="Portal" asp-controller="Product" asp-action="Create" class="btn btn-secondary"><i class="mi mi-Add"></i></a>
                        <a asp-area="Portal" asp-controller="Product" asp-action="Index" class="btn btn-secondary"><i class="mi mi-List"></i></a>
                        <a asp-area="Portal" asp-controller="Product" asp-action="Draft" class="btn btn-secondary"><i class="mi mi-Paste"></i></a>
                    </div>
                    <select class="btn btn-outline-secondary custom-select col-sm-3"
                            ng-model="request.orderBy"
                            ng-change="loadProducts()">
                        <option ng-repeat="item in orders track by $index" value="{{item.value}}">{{item.title}}</option>
                    </select>
                    <select class="btn btn-outline-secondary custom-select col-sm-1"
                            ng-model="request.direction"
                            ng-change="loadProducts()">
                        <option ng-repeat="item in directions track by $index" value="{{item.value}}">{{item.title}}</option>
                    </select>
                    <select class="btn btn-outline-secondary custom-select col-sm-1"
                            ng-model="request.pageSize"
                            ng-change="loadProducts(0)">
                        <option ng-repeat="item in pageSizes track by $index" value="{{item}}">{{item}}</option>
                    </select>
                    <input type="date" data-date-format="dd.MM.yyyy - hh:mm:ss a" ng-model="request.fromDate" />
                    <input type="date" data-date-format="dd.MM.yyyy - hh:mm:ss a" ng-model="request.toDate" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend" ng-click="loadProducts()">
                        <div class="input-group-text" id="btnGroupAddon"><i class="mi mi-Search" style="top:0;"></i></div>
                    </div>
                    <input ng-model="request.keyword" ng-enter="loadProducts()" type="text" class="form-control" placeholder="Search......" aria-label="Search......" aria-describedby="btnGroupAddon">
                </div>
            </div>
        </div>*@
    <table class="table table-sm table-hover" cellspacing="0">
        <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 3%;">
                    <span class="oi oi-move"></span>
                </th>
                <th scope="col" style="width: 4%;">
                    <span class="oi oi-sort-ascending"></span>
                </th>
                <th scope="col" style="width: 5%;">
                    Code
                </th>
                <th scope="col" style="width: 25%;">
                    Title
                </th>
                <th scope="col" width="10%">
                    Image
                </th>
                <th scope="col" width="10%">
                    Created Date
                </th>
                <th scope="col" style="width: 10%;">
                    Created By
                </th>

                <th scope="col" style="width: 5%;">Actions</th>
            </tr>
        </thead>

        <tbody class="sortable" ng-init="data = loadProducts()">
            <tr ng-repeat="item in data.items track by $index"
                class="sortable-item" sort-model="product" sort-model-id="{{item.id}}">
                <td style="cursor:move;" class="drag-header">
                    <span class="oi oi-move"></span>
                </td>
                <td>
                    <input type="text" value="{{item.priority}}" class="item-priority form-control form-control-sm d-inline" style="width:40px;" />
                </td>
                <td>
                    {{item.code}}
                </td>
                <td>
                    {{item.title}}
                </td>
                <td>
                    <div ng-if="item.image!=''">
                        <img height="50px" src="{{item.image}}" />
                    </div>
                    @*<small>
                            {{item.excerpt}}
                        </small>*@
                </td>
                <td>
                    <small>
                        {{item.createdDateTime | utcToLocal:'dd.MM.yyyy - hh:mm:ss a'}}
                    </small>
                </td>
                <td>
                    {{item.createdBy}}
                </td>

                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                        <a href="/{{currentLanguage}}/portal/product/edit/{{item.id}}" class="btn btn-light"> <span class="oi oi-pencil text-primary"></span></a>
                        <a href="{{item.detailsUrl}}" target="_blank" class="btn btn-light"><span class="oi oi-eye text-info"></span></a>

                        <button type="button" class="btn btn-light del-popover"
                                ng-click="removeProduct(item.id)">
                            <span class="oi oi-x text-danger"></span>
                        </button>
                        @*<button type="button" class="btn btn-light del-popover"
                                    data-toggle="popover" data-html="true" ng-click="removeProduct(item.id)">
                                <span class="oi oi-x text-danger"></span>
                            </button>
                            <div class="popover-body d-none">
                                <a href="/{{currentLanguage}}/portal/products/delete/{{item.id}}" class="btn btn btn-danger">Yes, I want to delete!</a>
                            </div>*@
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link active" href="javascript:void(0)" ng-click="loadProducts(data.pageIndex-1)"
                   ng-hide="data.pageIndex==0">Prev</a>
            </li>
            <li class="page-item" ng-class="{active: n-1==data.pageIndex}" ng-repeat="n in range(data.totalPage)">
                <a class="page-link" href="javascript:void(0)" ng-click="loadProducts(n-1)">{{n}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)" ng-click="loadProducts(data.pageIndex + 1)"
                   ng-hide="data.pageIndex >= (data.totalPage-1)">Next</a>
            </li>
        </ul>
    </nav>
</section>
@section scripts{
    <script src="~/app/controllers/portal-product-controller.js"></script>
}
