<div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image: url('../../../../themes/now-ui-kit-pro-v1.1.0/img/bg26.jpg');">
    </div>
    <div class="content-center">
        <h1 class="title">Counter</h1>
        <div class="text-center">

            <p>This is a simple example of an Angular component.</p>

            <p>Current count: <strong>{{ currentCount }}</strong></p>

            <button (click)="incrementCounter()">Increment</button>
        </div>
    </div>
</div>

