@model BECultureViewModel

@{
    ViewData["Title"] = "Create Culture";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content container-fluid">
    <form asp-controller="@ViewContext.RouteData.Values["controller"].ToString()"
          asp-action="@ViewContext.RouteData.Values["action"].ToString()">
        @await Html.PartialAsync("EditableSides/_Editable_ActionsBar")
        <div class="row">
            <section class="col-lg-12">
                @await Html.PartialAsync("_Editable", Model)
            </section>
            @*<section class="col-lg-3">
                    @await Html.PartialAsync(@"EditableSides\_EditableSide_Actions", Model)
                </section>*@
        </div>
    </form>
</section>
