@model BEThemeViewModel
@{
    var types = Html.GetEnumSelectList<Swastika.Cms.Lib.SWCmsConstants.DataType>();
}


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Main Content
            </div>
            <div class="card-body">


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CreatedDateTime" />
                <input type="hidden" asp-for="Specificulture" />

                <div class="form-group">
                    <input asp-for="Name" class="form-control form-control-lg" placeholder="Enter your theme name here..." />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="input-group form-group">

                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="Asset" accept="application/zip" id="Asset">
                        <label class="custom-file-label" for="inputGroupFile01">Choose asset file...</label>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Priority"></label>
                    <input asp-for="Priority" class="form-control" />
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <span class="switch">
                        <input type="checkbox" asp-for="IsActived" class="switch" required="" />
                        <label asp-for="IsActived">Activated</label>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>

