@model Swastika.Cms.Lib.ViewModels.Info.InfoThemeViewModel
@{
    var types = Html.GetEnumSelectList<Swastika.Cms.Lib.SWCmsConstants.DataType>();
}
<div class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CreatedDateTime" />
    <input type="hidden" asp-for="Specificulture" />
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Priority" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Priority" class="form-control" />
            <span asp-validation-for="Priority" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="CreatedBy" class="form-control" readonly />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Asset" class="col-md-2 control-label"></label>
        <div class="col-md-10" id="asset">
            <input type="file" name="Asset" accept="application/zip" id="Asset"class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="IsActived" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="IsActived" class="form-control" readonly />
        </div>
    </div>
</div>


