
<div class="row">
  <div class="col-sm-12">
    <div class="card sw-nav-action">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3 text-center">
            <button type="button" class="btn btn-link btn-block">
              <span class="oi oi-cloud-upload"></span> PUBLISH
            </button>
          </div>
          <div class="col-sm-3 text-center">
            <button type="button" class="btn btn-link">
              <span class="oi oi-eye"></span> PREVIEW
            </button>
          </div>
          <div class="col-sm-3 text-center">
            <button type="button" class="btn btn-link">
              <span class="oi oi-clipboard"></span> DRAFT
            </button>
          </div>
          <div class="col-sm-3 text-center">
            <button type="button" class="btn btn-link">
              <span class="oi oi-timer"></span> SCHEDULER
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-9">
    <div class="card">

      <div class="card-header">
        Main content
      </div>
      <div class="card-body">
        <input class="form-control form-control-lg" type="text" placeholder="Enter title here..." />
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Excerpt"></textarea>
        <!--<h3>CKEditor</h3>
        <div class="ckeditor">
          <ckeditor [config]=""
                    [readonly]="false"
                    (change)="onChange($event)"
                    (ready)="onReady($event)"
                    (focus)="onFocus($event)"
                    (blur)="onBlur($event)"
                    debounce="500">
          </ckeditor>
          <br/>
        </div>
        <h3>Pell Edtior</h3>-->
        <richtextarea></richtextarea>
      </div>
    </div>
    <div class="card">
      <div class="card-header-nav-pills">
        <ul class="nav nav-pills text-center" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-seo-tab" data-toggle="pill" href="#pills-seo" role="tab" aria-controls="pills-home"
               aria-selected="true">SEO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-parents-tab" data-toggle="pill" href="#pills-parents" role="tab" aria-controls="pills-profile"
               aria-selected="false">Parents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-modules-tab" data-toggle="pill" href="#pills-modules" role="tab" aria-controls="pills-modules"
               aria-selected="false">Modules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-layout" role="tab" aria-controls="pills-layout"
               aria-selected="false">Layout</a>
          </li>
        </ul>
      </div>
      <div class="card-body">

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-seo" role="tabpanel" aria-labelledby="pills-seo-tab">
            <input class="form-control" type="text" placeholder="Title" />
            <input class="form-control" type="text" placeholder="Name" />
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description"></textarea>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Keywords"></textarea>

          </div>
          <div class="tab-pane fade" id="pills-parents" role="tabpanel" aria-labelledby="pills-parents-tab">
            <div class="row">
              <div class="col-sm-2">
                Categories
              </div>
              <div class="col-sm-10 row">
                <div class="col-sm-4">
                  <form class="">
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">English</span>
                    </label>
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Vietnam</span>
                    </label>
                  </form>
                </div>
                <div class="col-sm-4">
                  <form class="">
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">English</span>
                    </label>
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Vietnam</span>
                    </label>
                  </form>
                </div>

                <div class="col-sm-4">
                  <form class="">
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">English</span>
                    </label>
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Vietnam</span>
                    </label>
                  </form>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-sm-2">
                Modules
              </div>
              <div class="col-sm-10 row">
                <div class="col-sm-4">
                  <form class="">
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">English</span>
                    </label>
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Vietnam</span>
                    </label>
                  </form>
                </div>
                <div class="col-sm-4">
                  <form class="">
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">English</span>
                    </label>
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Vietnam</span>
                    </label>
                  </form>
                </div>
                <div class="col-sm-4">
                  <form class="">
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">English</span>
                    </label>
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Vietnam</span>
                    </label>
                  </form>
                </div>


              </div>

            </div>
            <div class="">
              <div class="col-sm-12 card">
                <!--<div class="card-header">
                  Module Data
                </div>-->
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Username</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-modules" role="tabpanel" aria-labelledby="pills-modules-tab">
            <div class="row">
              <div class="col-sm-2">
                Categories
              </div>
              <div class="col-sm-10 row">
                <div class="col-sm-4">
                  <form class="">
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">English</span>
                    </label>
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Vietnam</span>
                    </label>
                  </form>
                </div>
                <div class="col-sm-4">
                  <form class="">
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">English</span>
                    </label>
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Vietnam</span>
                    </label>
                  </form>
                </div>

                <div class="col-sm-4">
                  <form class="">
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">English</span>
                    </label>
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Vietnam</span>
                    </label>
                  </form>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-sm-2">
                Modules
              </div>
              <div class="col-sm-10 row">
                <div class="col-sm-4">
                  <form class="">
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">English</span>
                    </label>
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Vietnam</span>
                    </label>
                  </form>
                </div>
                <div class="col-sm-4">
                  <form class="">
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">English</span>
                    </label>
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Vietnam</span>
                    </label>
                  </form>
                </div>

                <div class="col-sm-4">
                  <form class="">
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">English</span>
                    </label>
                    <label class="custom-control custom-checkbox d-block">
                      <input type="checkbox" class="custom-control-input" required>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Vietnam</span>
                    </label>
                  </form>
                </div>
              </div>

            </div>
          </div>
          <div class="tab-pane fade" id="pills-layout" role="tabpanel" aria-labelledby="pills-layout-tab">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-dark dropdown-toggle select-template" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select template...
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Appearance else here</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
              <input type="text" class="form-control input-template-name" aria-label="Text input with dropdown button">
            </div>
            <ace-editor [(text)]="text"></ace-editor>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        Status & Information
      </div>
      <div class="card-body">

      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Languages
      </div>
      <div class="card-body">
        <form class="">
          <label class="custom-control custom-checkbox d-block">
            <input type="checkbox" class="custom-control-input" required>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">English</span>
          </label>
          <label class="custom-control custom-checkbox d-block">
            <input type="checkbox" class="custom-control-input" required>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Vietnam</span>
          </label>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Article Type
      </div>
      <div class="card-body">
        <form class="">
          <label class="custom-control custom-radio d-block">
            <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input" required>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Blank</span>
          </label>
          <label class="custom-control custom-radio d-block">
            <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input" required>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Article</span>
          </label>
          <label class="custom-control custom-radio d-block">
            <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input" required>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">List</span>
          </label>
          <label class="custom-control custom-radio d-block">
            <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input" required>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Modules</span>
          </label>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Feature Image
      </div>
      <div class="card-body">

      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Thumbnail Image
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
