.ckeditor{
  padding-top:10px;
}
/*.tab-pane div{
  float:left;
}*/
//*[@id="pills-parents"]/div[2]
.select-template {
  border-bottom-left-radius: 0px;
}
.input-template-name {
  border: solid rgb(52, 58, 64);
  border-bottom-right-radius: 0px;
}
ace-editor {
  height: 350px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
