@{
    ViewData["Title"] = "Access Denied";
}
<section id="page-manage-account">
    <div class="container">
        <div class="row">
    <h1 class="text-danger">Access Denied.</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</div>
    </div>
</section>