@inject UserManager<ApplicationUser> UserManager

@{
}

<a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Swastika I/O">
    <img src="~/css/portal/img/swastika-io-logo-blue.png" alt="Kiwi standing on oval" width="35px">
</a>

<button type="button" id="sidebarCollapse" class="btn btn-link">
    <span class="oi oi-menu"></span>
</button>

<div class="navbar-nav-scroll">
    @await Component.InvokeAsync(typeof(Swastika.Cms.Mvc.Areas.Portal.ViewComponents.Breadcrumbs))
</div>

<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

    <li class="nav-item mr-2">
        <a class="nav-link p-2" href="#" data-toggle="modal" data-target="#modal-files">
            <i class="mi mi-Media"></i>
        </a>
    </li>
    <li class="nav-item dropdown mr-2">
        <a class="nav-link p-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="mi mi-World"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sw-versions">
            <a class="dropdown-item active" href="/vi-vn/Portal/">Tiếng Việt</a>
            <a class="dropdown-item" href="/en-us/Portal/">English</a>
        </div>
    </li>
    <li class="nav-item dropdown mr-2">
        <a class="nav-item nav-link text-success" href="#" id="sw-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="mi mi-ActionCenterMirrored"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sw-versions">
            <a class="dropdown-item active" href="#">Lorem...</a>
            <a class="dropdown-item" href="#">Lorem...</a>
            <a class="dropdown-item" href="#">Lorem...</a>
            <a class="dropdown-item" href="#">Lorem...</a>
        </div>
    </li>
    <li class="nav-item mr-2">
        <form asp-area="User" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="">
            <a class="nav-link p-2 text-danger" href="#" onclick="document.getElementById('logoutForm').submit();" rel="noopener" aria-label="Logout">
                <i class="mi mi-PowerButton"></i>
            </a>
        </form>
    </li>
</ul>
<a href="/vi-vn/portal/member/profile" title="@UserManager.GetUserName(User)">
    <img class="rounded-circle sw-avatar" alt="200x200" src="https://avatars1.githubusercontent.com/u/3785721?s=40&v=4" data-holder-rendered="true"
         style="width: 36px; height: 36px;">
    </a>