
<footer class="footer footer-default ">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="/portal">
                        Portal
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/blog']">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy; 2017, Build with <i class="fa fa-heartbeat"></i> by
            <a href="http://www.swastika.io" target="_blank">Swastika I/O</a>. Coded by
            <a href="http://www.smileway.co" target="_blank">Smileway Team</a>.
        </div>
    </div>
</footer>
