<div class="modal modal-default fade show" id="modal-files" ng-init="loadMedias()">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="max-width: 95%;">
        <div class="modal-content">
            <div class="modal-header">

                <div class="col-md-11">
                    <h5 class="modal-title" id="exampleModalLabel"><em class="mi mi-Media"></em> Quick media upload</h5>
                </div>
                <div class="col-md-1">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body" style="height: calc(100vh - 143px);overflow-y: auto;">
                <div class="row">
                    <div class="col-md-12">
                        <filter-list request="request" callback="loadMedias(pageIndex)" />
                    </div>
                   
                    <div class="col-md-12 d-flex justify-content-end">
                        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="input-group mr-2">
                                
                                <custom-file header="''" folder="'Medias'" media="activedMedia" auto="'false'"></custom-file>
                
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <!--<cultures is-clone="activedMedia.isClone" data="activedMedia.cultures"></cultures>-->

                                <button type="button" ng-click="saveMedia(activedMedia)" class="btn btn-secondary"><em class="mi mi-Upload"></em> Upload</button>
                                <!--<button type="button" ng-click="uploadMedia()" class="btn btn-secondary"><em class="mi mi-Upload"></em> Upload</button>-->
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-sm table-condensed">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">
                                Title
                            </th>
                            <th scope="col">
                                Description
                            </th>
                            <th scope="col">
                                Full Path
                            </th>
                            <th scope="col">
                                Content
                            </th>
                            <th scope="col" width="5%" class="text-right">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data.items track by $index">
                            <td>
                                <emnput type="text" ng-model="item.title" />
                            </td>
                            <td>
                                <emnput type="text" ng-model="item.description" />
                            </td>
                            <td>

                                <div class="input-group input-group-sm mb-3">
                                    <emnput id="path-modal-{{$index}}" value="{{item.fullPath}}" onclick="this.select()" class="form-control form-control-sm" readonly />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary btn-clipboard" type="button" data-clipboard-target="#path-modal-{{$index}}"><em class="mi mi-Copy"></em></button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <emmg height="50" imageonload ng-src="{{item.fullPath}}" />
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                                    <a href="javascript:void(0)" ng-click="saveMedia(item)" class="btn btn-sm btn-light">
                                        <span class="fas fa-check text-info"></span>
                                    </a>
                                    <a href="javascript:void(0)" ng-click="removeMedia(item.id)" class="btn btn-sm btn-light">
                                        <span class="fas fa-times text-danger"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <paging class="small"
                        page="data.pageIndex+1"
                        page-size="data.pageSize"
                        total="data.totalItems"
                        ul-class="pagination justify-content-end"
                        a-class="page-link"
                        paging-action="loadMedias(page-1)"
                        scroll-top="true" />
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>