@model Swastika.Cms.Lib.ViewModels.FrontEnd.FEArticleViewModel
@{
    ViewData["Title"] = Model.SeoTitle;
    ViewData["SeoTitle"] = Model.SeoTitle;
    ViewData["SeoKeywords"] = Model.SeoKeywords;
    ViewData["SeoDescription"] = Model.SeoDescription;
    string culture = ViewBag.culture;
    Layout = string.Format("Layouts/{0}", Swastika.Cms.Lib.Services.ApplicationConfigService.Instance.GetLocalString("Layout", culture, "_Layout_Corlate"));// "_Layout_Corlate";
}

@if (!string.IsNullOrEmpty(Model.Template))
{
    @Html.Partial(Model.Template, Model)
}
else
{
    <section id="blog" class="container">
        <h1>Please choose template</h1>
    </section>
}

<!--/#blog-->
