@model Swastika.Cms.Lib.ViewModels.FrontEnd.FECategoryViewModel
@{
    //string culture = ViewBag.culture;
    //Layout = string.Format("Layouts/{0}", Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Layout", culture, "_Layout_Corlate"));// "_Layout_Corlate";
    string master = LocalizerService.GetLocalString(SWCmsConstants.ConfigurationKeyword.Theme, ViewBag.culture, "Default");
    Layout = (Model.Layout?.ToLower() == "_blank") ? null : $"Templates/{master}/Masters/{Model.Layout??"_Layout"}";

    ViewData["Title"] = Model.Title;
    ViewData["SeoTitle"] = Model.SeoTitle;
    ViewData["SeoKeywords"] = Model.SeoKeywords;
    ViewData["SeoDescription"] = Model.SeoDescription;
}
<div>
    @if (!string.IsNullOrEmpty(Model.TemplatePath))
    {

        try
        {
            @Html.Partial(Model.TemplatePath, Model)
        }
        catch (System.InvalidOperationException invalidOperationException)
        {
            <p class="danger text-center has-error">Unable load template with Exception detail below:</p>
            <code>
                @invalidOperationException
            </code>

        }
        catch (Exception ex)
        {
            @ex
            <p class="danger text-center has-error">Unable load template</p>
        }
    }
    else
    {
        <section class="container">
            <h1>@Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Please choose template", ViewBag.culture)</h1>
        </section>
    }
</div>
@section scripts{
    @Html.Raw(Model.View?.Scripts)

    <script src="~/js/angular.min.js"></script>
    <script src="~/app/app-frontend.js"></script>
    <script src="~/app/controllers/frontend-controller.js"></script>
}
@section styles{
    @Html.Raw(Model.View?.Styles)
}
