@model Swastika.Cms.Lib.ViewModels.FrontEnd.FECategoryViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["SeoTitle"] = Model.SeoTitle;
    ViewData["SeoKeywords"] = Model.SeoKeywords;
    ViewData["SeoDescription"] = Model.SeoDescription;
}
@if (!string.IsNullOrEmpty(Model.TemplatePath))
{

    try
    {
        @Html.Partial(Model.TemplatePath, Model)
    }
    catch (System.InvalidOperationException invalidOperationException)
    {
        <p class="danger text-center has-error">Unable load template with Exception detail below:</p>
        <code>
            @invalidOperationException
        </code>

    }
    catch (Exception ex)
    {
        @ex
        <p class="danger text-center has-error">Unable load template</p>
    }
}
else
{
    <section class="container">
        <h1>@Swastika.Cms.Lib.Services.GlobalConfigurationService.Instance.GetLocalString("Please choose template", ViewBag.culture)</h1>
    </section>
}
@section scripts{
    @Html.Raw(Model.View?.Scripts)

    <script src="~/js/angular.min.js"></script>
    <script src="~/app/app-frontend.js"></script>
    <script src="~/app/controllers/frontend-controller.js"></script>
}
@section styles{
    @Html.Raw(Model.View?.Styles)
}
