@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model Swastika.Cms.Lib.ViewModels.FrontEnd.FECategoryViewModel

@{
    Layout = "_Layout_Corlate";
    var banners = Model.GetModule("Home_Banners");
    var services = Model.GetModule("Services");
    var otherServices = Model.GetModule("OtherServices");
    var hotTours = Model.GetModule("HotTours");
    var partners = Model.GetModule("Partners");
    var clients = Model.GetModule("Clients");
    var contacts = Model.GetModule("Contacts");
}

@if (banners != null)
{
    Html.RenderPartial(banners.Template, banners);
}

<section id="about-us">
    <div class="container">
        <div class="wow fadeInDown">
            <h2 class="center">@Model.Excerpt</h2>
            <p class="lead">
                @Html.Raw(Model.Content)
            </p>
        </div>
    </div><!--/.container-->
</section><!--/#feature-->

@if (services != null)
{
    Html.RenderPartial(services.Template, services);
}

@if (hotTours != null)
{
    Html.RenderPartial(hotTours.Template, hotTours);
}
@if (otherServices != null)
{
    Html.RenderPartial(otherServices.Template, otherServices);
}
@if (partners != null)
{
    Html.RenderPartial(partners.Template, partners);
}

@if (clients != null)
{
    Html.RenderPartial(clients.Template, clients);
}


@if (contacts != null)
{
    Html.RenderPartial(contacts.Template, contacts);
}



