@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model Swastika.IO.Cms.Lib.ViewModels.CategoryFEViewModel

@{
    var banners = Model.GetModule("Home_Banners");
    var services = Model.GetModule("Services");
    var otherServices = Model.GetModule("OtherServices");
    var hotTours = Model.GetModule("HotTours");
    var partners = Model.GetModule("Partners");
    var clients = Model.GetModule("Clients");
    var contacts = Model.GetModule("Contacts");
}

@if (banners != null && !string.IsNullOrEmpty(banners.Template))
{
    Html.RenderPartial(banners.Template, banners);
}

<section id="about-us">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2 class="">@Model.Description</h2>
            <p class="lead">
                @Html.Raw(Model.FullContent)
            </p>
        </div>
    </div><!--/.container-->
</section><!--/#feature-->

@if (services != null && !string.IsNullOrEmpty(services.Template))
{
    Html.RenderPartial(services.Template, services);
}

@if (hotTours != null && !string.IsNullOrEmpty(hotTours.Template))
{
    Html.RenderPartial(hotTours.Template, hotTours);
}
@if (otherServices != null && !string.IsNullOrEmpty(otherServices.Template))
{
    Html.RenderPartial(otherServices.Template, otherServices);
}
@if (partners != null && !string.IsNullOrEmpty(partners.Template))
{
    Html.RenderPartial(partners.Template, partners);
}

@if (clients != null && !string.IsNullOrEmpty(clients.Template))
{
    Html.RenderPartial(clients.Template, clients);
}


@if (contacts != null && !string.IsNullOrEmpty(contacts.Template))
{
    Html.RenderPartial(contacts.Template, contacts);
}

































