@using Swastika.Common;
@using Swastika.Cms.Lib.ViewModels;
@using Swastika.Cms.Lib.Repositories;
@{
    string tags = (string)this.ViewData["Tags"];
    string culture = ViewBag.culture;
    List<string> listTag = tags != null ? tags.Split(',').ToList() : new List<string>();
}
@if (!string.IsNullOrEmpty(tags) && listTag.Count > 0)
{
<div class="widget tags">
    <h3>@Swastika.Cms.Lib.Services.ApplicationConfigService.Instance.GetLocalString("Tag Cloud", culture)</h3>
    <ul class="tag-cloud">
        @foreach (var tag in listTag)
        {
            if (!string.IsNullOrEmpty(tag))
            {

            <li>
                <a class="btn btn-xs btn-primary" asp-controller="Home" asp-action="Tag" asp-route-keyword="@tag.Trim()">
                    @tag.Trim()
                </a>
            </li>
            }
        }
    </ul>
</div><!--/.tags-->
}
