<div class="row position-sticky" style="top: 3.5rem; z-index: 12;">
    <div class="col-sm-12">
        <div class="card sw-nav-action mb-0">
            <div class="card-body">
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-link btn-block">
                            <span class="oi oi-cloud-upload"></span> SAVE
                        </button>
                    </div>
                    <div class="col text-center" ng-show="$ctrl.previewUrl">
                        <a href="{{$ctrl.previewUrl}}" class="btn btn-link" target="_blank">
                            <span class="oi oi-eye"></span> PREVIEW
                        </a>
                    </div>
                    <div class="col text-center" ng-show="$ctrl.previewUrl">
                        <a href="{{$ctrl.backUrl}}" class="btn btn-link">
                            <span class="oi oi-arrow-left"></span> BACK
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>