<section class="">
    <filter-list request="request" callback="loadPages(pageIndex)" />

    <table id="list-page" class="table table-sm table-hover sortable" cellspacing="0" ng-init="data = loadPages()">
        <thead class="thead-light">
            <tr>
                <th scope="col" width="4%">
                    <span class="oi oi-sort-ascending"></span>
                </th>
                <th scope="col" width="20%">
                    Keyword
                </th>
                <th scope="col">
                    Default
                </th>
                <th scope="col" width="15%">
                    Desciption
                </th>
                <th scope="col" width="15%">
                    Created Date
                </th>
                <th scope="col" width="5%" class="text-right">Actions</th>
            </tr>
        </thead>

        <tbody class="sortable-item" ng-repeat="item in data.items track by $index" style="border: 1px;">
            <tr class="" sort-model="category" sort-model-id="{{item.id}}" data-toggle="collapse" href="#collapse-page{{item.id}}-childs" role="button" aria-expanded="false" aria-controls="collapse-page{{item.id}}-childs">

                <!--<td>
                    <input type="text" value="{{item.priority}}" class="item-priority form-control form-control-sm d-inline" style="width:40px;" />
                </td>-->
                <td class="drag-header">
                    <!--<span class="fas fa-sort"></span>-->

                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light"><span class="oi oi-chevron-top small"></span></button>
                        <button type="button" class="btn btn-light"><span class="oi oi-chevron-bottom small"></span></button>
                    </div>
                </td>

                <td>
                    {{item.textKeyword}}
                </td>
                <td>
                    {{item.textDefault}}
                </td>
                <td>
                    <small>
                        {{item.description}}
                    </small>
                </td>
                <td>
                    <small>
                        {{item.createdDateTime | utcToLocal:'dd.MM.yy hh:mm a'}}
                    </small>
                </td>

                <td>
                    <div class="btn-group btn-group-sm btn-group-sm float-right" role="group" aria-label="Actions">
                        
                        <a ng-if="item.childNavs.length > 0" class="btn btn-light" data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapse-page{{item.id}}-childs">
                            <span class="oi oi-list text-primary"></span>
                        </a>
                        <a href="/backend/portal-page/details/{{item.id}}" class="btn btn-light">
                        <span class="oi oi-pencil text-primary small"></span></a>
                        <a href="#" class="btn btn-light"
                           ng-click="removePage(item.id)">
                            <span class="oi oi-x text-danger"></span>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="7" style="padding:0">
                    <div class="collapse" id="collapse-page{{item.id}}-childs" data-parent="#list-page">
                        <table class="table table-sm table-hover mb-0" cellspacing="0" style="background-color: #f5f5f5;" ng-if="item.childNavs.length>0">
                            <thead style="font-size:small; font-weight:normal">
                                <tr>
                                    <!--<th scope="col" width="4%">
                                        <span class="fas fa-sort"></span>
                                    </th>-->
                                    <th scope="col" width="3%">
                                        <span class="oi oi-sort-ascending"></span>
                                    </th>
                                    <th scope="col" width="20%">
                                        Keyword
                                    </th>
                                    <th scope="col" width="20%">
                                        Default
                                    </th>
                                    <th scope="col">
                                        Description
                                    </th>
                                    <th scope="col" width="15%">
                                        Created Date
                                    </th>
                                    <th scope="col" width="5%" class="text-right">Actions</th>
                                </tr>
                            </thead>

                            <tbody class="sortable">
                                <tr class="sortable-item" ng-repeat="c in item.childNavs track by $index">
                                    <!--<td>
                                        <label class="item-priority d-inline" style="width:40px;"></label>
                                    </td>-->
                                    <td style="cursor:move;" class="drag-header">
                                        <!--<span class="fas fa-sort" style="font-size:small"></span>-->

                                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-link"><span class="oi oi-chevron-top small"></span></button>
                                            <button type="button" class="btn btn-link"><span class="oi oi-chevron-bottom small"></span></button>
                                        </div>
                                    </td>
                                    <td>
                                        <span ng-bind="c.page.textKeyword" />
                                    </td>
                                    <td>
                                        <span ng-bind="c.page.textDefault" />
                                    </td>
                                    <td>
                                        <small>
                                            <span ng-bind="c.page.description" />
                                        </small>
                                    </td>
                                    <td>

                                        {{c.page.createdDateTime | utcToLocal:'dd.MM.yy - hh:mm a'}}

                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-sm btn-group-sm float-right" role="group" aria-label="Actions">
                                            <a href="/backend/portal-page/details/{{c.page.id}}" class="btn btn-light"><span class="oi oi-pencil text-primary small"></span></a>
                                            <a ng-click="removePage(c.page.id);"
                                               class="btn btn-light">
                                                <span class="fas fa-times text-danger"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <paging class="small"
            page="data.pageIndex+1"
            page-size="data.pageSize"
            total="data.totalItems"
            ul-class="pagination justify-content-end"
            a-class="page-link"
            paging-action="loadProducts(page-1)"
            scroll-top="true" />
</section>