<!-- Main content -->
<section class="" ng-init="loadMedia()">
    <form ng-if="activedMedia" ng-class="{'submitted': submitted}"
          ng-submit="saveMedia(activedMedia)">
        <actions preview-url="activedMedia.fullPath" back-url="'/backend/media/list'"></actions>
        <div class="row">
            <section class="col-lg-12">
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input type="text"
                           class="form-control"
                           ng-model="activedMedia.title" />
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <input type="text"
                           class="form-control"
                           ng-model="activedMedia.description" />
                </div>
                <div class="form-group">
                    <label class="control-label">Tags</label>
                    <input type="text"
                           class="form-control tags"
                           ng-model="activedMedia.tags" />
                </div>
                <input type="text" class="form-control d-none" ng-model="activedMedia.fullPath">
                <div class="animate-switch-container"
                     ng-switch on="activedMedia.extension">
                    <div class="animate-switch" ng-switch-when=".png|.jpg|.jpeg|.gif" ng-switch-when-separator="|">
                        <!--<img imageonload src="{{activedMedia.fullPath}}" />-->
                        <custom-image header="''" type="'Medias'"
                                      folder="activedMedia.folder"
                                      src-url="activedMedia.fullPath"
                                      src="activedMedia.fullPath"
                                      posted-file="activedMedia.mediaFile"></custom-image>
                    </div>

                    <div class="animate-switch" ng-switch-default>
                        <input class="form-control form-control-sm" type="text" ng-model="activedMedia.fullPath" value="$ctrl.dataType" />
                    </div>
                </div>


            </section>
        </div>
    </form>
</section>
<!-- /.content -->