<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Swastika Project</title>

    <!-- Icons -->
    <link href="js/vuejssrc/coreui/css/font-awesome.min.css" rel="stylesheet">
    <link href="js/vuejssrc/coreui/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="js/vuejssrc/coreui/css/style.css" rel="stylesheet">
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    @RenderBody()

    <script type="text/javascript" src="js/vuejssrc/coreui/js/manifest.js"></script>
    <script type="text/javascript" src="js/vuejssrc/coreui/js/vendor.js"></script>
    <script type="text/javascript" src="js/vuejssrc/coreui/js/app.js"></script>
</body>
</html>