<div ng-if="$ctrl.data" ng-init="$ctrl.init()">
    <div class="nav">
        <div class="col-sm-12 p-2">
            <div class="row header">
                <div class="col-1">
                    <span class="fas fa-sort"></span>
                </div>
                <div scope="col" class="col-sm-1">
                    <span class="fas fa-sort-numeric-down"></span>
                </div>
                <div scope="col" class="col-sm-{{$ctrl.colWidth}}" ng-repeat="col in $ctrl.columns track by $index">
                    <span ng-bind="col.title">
                </div>
                <div scope="col" class="col-sm-{{$ctrl.lastColWidth}}">
                    Actions
                </div>
            </div>
        </div>
    </div>
    <div dnd-list="$ctrl.data.items" class="nav" ng-if="$ctrl.data.items.length">
        <div class="col-sm-12 dndPlaceholder"></div>
        <div ng-repeat="nav in $ctrl.data.items" class="col-sm-12 dnd-item" dnd-draggable="nav" dnd-moved="$ctrl.updateOrders($index)" dnd-effect-allowed="move" dnd-selected="$ctrl.selected = nav" ng-class="{'selected': $ctrl.selected === nav}">
            <div class="row">
                <div class="col-1 drag-header" style="cursor:move;"><span class="fas fa-sort"></span></div>
                <div class="col-sm-1">
                    <input type="text" ng-model="nav.priority" class="item-priority form-control form-control-sm d-inline">
                </div>
                <div class="col-sm-{{$ctrl.colWidth}}" ng-repeat="col in $ctrl.columns track by $index">
                        <sw-data-preview type="col.type" value="nav[col.name]" width="50"></sw-data-preview>
                </div>
                <div class="col-sm-{{$ctrl.lastColWidth}}">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                        <a href="{{$ctrl.editUrl}}/{{nav.id}}" class="btn btn-sm btn-light">
                            <span class="fas fa-pencil-alt text-primary"></span>
                        </a>
                        <a ng-click="removeData(nav.id);" class="btn btn-light del-popover" data-toggle="popover" data-html="true">
                            <span class="fas fa-times text-danger"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>