@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        @*Anything you want*@
    </div>
    <!-- Default to the left -->
    Build with <i class="fa fa-heartbeat"></i> by <strong><a href="http://www.smileway.co">Smileway</a></strong>.
</footer>