@{
    ViewData["Title"] = "Dashboard";
    ViewData["Description"] = "Your powerful dashboard is here";
    Layout = "_LayoutPortal_Angular";
}
<section class="content container-fluid">

    <div class="{{pageClass}}" ng-view>
    </div>
    <module-form name="'test'"></module-form>
    <module-form name="'test1'"></module-form>
    <medias></medias>
    <message message="message"></message>
</section>
