@{
    ViewData["Title"] = "Dashboard";
    ViewData["Description"] = "Your powerful dashboard is here";
    Layout = "_LayoutPortal_Angular";
}
<section class="content container-fluid">
    
    <div class="{{pageClass}}" ng-view>
    </div>    
    <medias />
    <message message="message" />
</section>
