@{
    ViewData["Title"] = "Setup database";
    Layout = "_LayoutNowUI_Angular";
}
<div class="col-md-4 content-center">
    <div class="card card-login card-plain">
        <form asp-area="Portal" asp-controller="Portal" asp-action="Init" method="post" class="form-horizontal">
            <div class="header header-primary text-center">
                <div class="logo-container">
                    @*<emmg src="~/images/swastika-io-logo-white.svg" alt="">*@
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <style>
                        .form-check-label:before {
                            background-color: white !important;
                        }
                    </style>
                    <div class="col form-check mb-4">
                        <label class="form-check-label">
                            <emnput class="form-check-input" ng-model="isLocalDb" />
                            <span class="form-check-sign"></span>
                            Use local Database
                        </label>


                    </div>
                    <div ng-show="isLocalDb" class="input-group form-group-no-border input-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><em class="now-ui-icons business_chart-pie-36"></em></span>
                        </div>
                        <emnput ng-model="localDbConnectionString" class="form-control" placeholder="Local Db">
                    </div>                   
                </div>
                <div ng-hide="isLocalDb">
                    <h5 class="card-description text-white"> or remote database </h5>
                    <div class="input-group form-group-no-border input-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><em class="now-ui-icons business_chart-pie-36"></em></span>
                        </div>
                        <emnput ng-model="dataBaseServer" class="form-control" placeholder="Database Server (e.g. domain or IP)">
                    </div>
                    <div class="input-group form-group-no-border input-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><em class="now-ui-icons business_badge"></em></span>
                        </div>
                        <emnput ng-model="dataBaseName" class="form-control" placeholder="Database name (e.g. SwastikaDb)" />
                    </div>
                    <div class="input-group form-group-no-border input-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><em class="now-ui-icons ui-1_lock-circle-open"></em></span>
                        </div>
                        <emnput ng-model="dataBaseUser" class="form-control" placeholder="Database Username">
                    </div>
                    <div class="input-group form-group-no-border input-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><em class="now-ui-icons ui-1_lock-circle-open"></em></span>
                        </div>
                        <emnput ng-model="dataBasePassword" type="password" class="form-control" placeholder="Database Password" />
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Continue...</button>
            </div>
        </form>
    </div>
</div>