@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TTS.Lib.ViewModels.FEModuleData

@if (Model != null && Model.Data != null)
{
    <ul class="social-share">
        @foreach (var item in Model.Data.Items)
        {
            <li><a target="_blank" href="@item.GetStringValue("Url")"><i class="@item.GetStringValue("Icon")"></i></a></li>
        }
        
    </ul>
}


