@{
    ViewData["Title"] = "Dashboard";
    ViewData["Description"] = "Your powerful dashboard is here";
}

<section class="content container-fluid">
    <!-- <div class="row">
      <div class="col-sm-8">
        <h1 class="sw-title" id="content">Dashboard</h1>
      </div>
      <div class="col-sm-4">
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item pull-right">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item pull-right">
              <a href="#">Library</a>
            </li>
            <li class="breadcrumb-item pull-right active" aria-current="page">Data</li>
          </ol>
        </nav>
      </div>
    </div> -->
    <!-- https://bootstrapious.com/tutorial/sidebar/index4.html -->
    <div class="row sortable ui-sortable">
        <div class="col-sm-3 ui-sortable-handle">
            <div class="card">
                <div class="card-body">
                    <i class="mi mi-ReadingList mi-5x mi-fw text-primary"></i> <span class="display-3"> 23</span>
                </div>
                <div class="card-footer text-muted">
                    <i class="mi mi-Calendar"></i> 2 days ago
                </div>
            </div>
        </div>
        <div class="col-sm-3 ui-sortable-handle">
            <div class="card">
                <div class="card-body">
                    <i class="mi mi-Page mi-5x mi-fw text-primary"></i> <span class="display-3"> 4</span>
                </div>
                <div class="card-footer text-muted">
                    <i class="mi mi-Calendar"></i> 2 days ago
                </div>
            </div>
        </div>
        <div class="col-sm-3 ui-sortable-handle">
            <div class="card">
                <div class="card-body">
                    <i class="mi mi-ResolutionLegacy mi-5x mi-fw text-primary"></i> <span class="display-3"> 79</span>
                </div>
                <div class="card-footer text-muted">
                    <i class="mi mi-Calendar"></i> 2 days ago
                </div>
            </div>
        </div>
        <div class="col-sm-3 ui-sortable-handle">
            <div class="card">
                <div class="card-body">
                    <i class="mi mi-Contact mi-5x mi-fw text-primary"></i> <span class="display-3"> 2k</span>
                </div>
                <div class="card-footer text-muted">
                    <i class="mi mi-Calendar"></i> 2 days ago
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header ">
                    <h4 class="card-title">Global Sales by Top Locations</h4>
                    <p class="card-category">All products that were shipped</p>
                </div>
                <div class="card-body ">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="flag">
                                                    <img src="../assets/img/flags/US.png" <="" div="">
                                                </div>
                                            </td>
                                            <td>USA</td>
                                            <td class="text-right">
                                                2.920
                                            </td>
                                            <td class="text-right">
                                                53.23%
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="flag">
                                                    <img src="../assets/img/flags/DE.png" <="" div="">
                                                </div>
                                            </td>
                                            <td>Germany</td>
                                            <td class="text-right">
                                                1.300
                                            </td>
                                            <td class="text-right">
                                                20.43%
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="flag">
                                                    <img src="../assets/img/flags/AU.png" <="" div="">
                                                </div>
                                            </td>
                                            <td>Australia</td>
                                            <td class="text-right">
                                                760
                                            </td>
                                            <td class="text-right">
                                                10.35%
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="flag">
                                                    <img src="../assets/img/flags/GB.png" <="" div="">
                                                </div>
                                            </td>
                                            <td>United Kingdom</td>
                                            <td class="text-right">
                                                690
                                            </td>
                                            <td class="text-right">
                                                7.87%
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="flag">
                                                    <img src="../assets/img/flags/RO.png" <="" div="">
                                                </div>
                                            </td>
                                            <td>Romania</td>
                                            <td class="text-right">
                                                600
                                            </td>
                                            <td class="text-right">
                                                5.94%
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="flag">
                                                    <img src="../assets/img/flags/BR.png" <="" div="">
                                                </div>
                                            </td>
                                            <td>Brasil</td>
                                            <td class="text-right">
                                                550
                                            </td>
                                            <td class="text-right">
                                                4.34%
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6 ml-auto mr-auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>