@model BEModuleDataViewModel

@{
    var types = Html.GetEnumSelectList<Swastika.Cms.Lib.SWCmsConstants.CateType>();
    //string img = Model != null ? Model.Image : "http://placehold.it/200x200";
}

@await Html.PartialAsync("EditableSides/_EditableSide_Actions")

<div class="card">
    <div class="card-header">
        General
    </div>
    <div class="card-body">

        <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input class="form-control" asp-for="Priority" />
                <span asp-validation-for="Priority" class="text-danger"></span>
        </div>
    </div>
</div>
