@model BEModuleViewModel

@{

    var moduleTypes = Html.GetEnumSelectList<Swastika.Cms.Lib.SWCmsConstants.ModuleType>();
    //var types = Html.GetEnumSelectList<Swastika.Cms.Lib.SWCmsConstants.CateType>();
    //string img = Model != null ? Model.Image : "http://placehold.it/200x200";
}

@await Html.PartialAsync("EditableSides/_EditableSide_Actions")

@Html.Partial("EditableSides/_EditableSide_Cultures", Model.ListSupportedCulture)
<input type="hidden" asp-for="Specificulture" />


<div class="card">
    <div class="card-header">
        <label asp-for="Type" class="control-label"></label>
    </div>
    <div class="card-body">

        <div class="form-group">

            @*<select asp-for="Type" class="form-control" asp-items="@moduleTypes"></select>*@


            @{
            foreach (var type in moduleTypes)
            {
                <div class="custom-control custom-radio">
                    <input asp-for="Type" type="radio" value="@type.Value" class="custom-control-input" id="pageType_@type.Value" />
                    <label class="custom-control-label" for="pageType_@type.Value">@type.Text</label>
                </div>
            }
            }

            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
</div>