@model BEModuleViewModel

@{
    ViewData["Title"] = "Create Module";
    //Layout = "~/Areas/Portal/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<section class="content container-fluid">
    <form asp-controller="@ViewContext.RouteData.Values["controller"].ToString()"
          asp-action="@ViewContext.RouteData.Values["action"].ToString()">
        @await Html.PartialAsync("EditableSides/_Editable_ActionsBar")
        <div class="row">

            <section class="col-lg-8">
                @await Html.PartialAsync("_Editable", Model)
            </section>
            <section class="col-lg-4">
                @await Html.PartialAsync("_EditableSide", Model)
            </section>

        </div>
    </form>
</section>
<!-- /.content -->

@section scripts{
    <script>
        $('#AddObject').click(function () {
            var i = $(".field-row").length;
            $.ajax({
                url: '/vi-vn/Portal/Module/AddEmptyField/' + i,
                success: function (data) {
                    $('#Table > tbody').append(data);
                },
                error: function (a, b, c) {
                    alert(a + " " + b + " " + c);
                }
            });
        });
    </script>
}