@model BEModuleViewModel

@{
    ViewData["Title"] = "Edit";
    //Layout = "~/Areas/Portal/Views/Shared/_Layout.cshtml";
}
<!-- Main content -->
<section class="content container-fluid">
    <form asp-controller="@ViewContext.RouteData.Values["controller"].ToString()"
          asp-action="@ViewContext.RouteData.Values["action"].ToString()">
        <div class="row">
            <section class="col-lg-9">
                @await Html.PartialAsync("_Editable", Model)
            </section>
            <section class="col-lg-3">
                @await Html.PartialAsync("EditableSides/_EditableSide_Actions", Model)
                @await Html.PartialAsync("EditableSides/_EditableSide_Cultures", Model.ListSupportedCulture)
            </section>
        </div>
    </form>
</section>
<!-- /.content -->
@section scripts{
    <script>
        $('#AddObject').click(function () {
            var i = $(".field-row").length;
            $.ajax({
                url: '/vi-vn/Portal/Module/AddEmptyField/' + i,
                success: function (data) {
                    $('#Table > tbody').append(data);
                },
                error: function (a, b, c) {
                    alert(a + " " + b + " " + c);
                }
            });
        });
    </script>
}