
<div id="sidebar" class="sw-sidebar">
  <form class="sw-search d-flex align-items-center">
    <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off">
    <button class="btn btn-link sw-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#sw-docs-nav"
            aria-controls="sw-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false">
        <title>Menu</title>
        <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" />
      </svg>

    </button>
  </form>


  <nav class="collapse sw-links" id="sw-docs-nav">
    <div class="sw-toc-item">
      <a routerLink="/portal/ecom" class="sw-toc-link">
        <span class="oi oi-dashboard"></span>
        <span class="text">Dashboard</span>
      </a>
    </div>
    <div class="sw-toc-item">
      <a class="sw-toc-link" data-toggle="collapse" href="#collapseArticleSubMenus" aria-expanded="false" aria-controls="collapseArticleSubMenus">
        <span class="oi oi-plus"></span>
        <span class="text">Create</span>
      </a>
      <ul id="collapseArticleSubMenus" class="collapse list-unstyled">
        <li>
          <a routerLink="/portal/cms/article/create-article">
            <span class="oi oi-document"></span>
            <span class="text">Create Article</span>
          </a>
        </li>
        <li>
          <a routerLink="/portal/cms/article/create-article">
            <span class="oi oi-puzzle-piece"></span>
            <span class="text">Create Module</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sw-toc-item">
      <a class="sw-toc-link" data-toggle="collapse" href="#collapseCreateSubMenus" aria-expanded="false" aria-controls="collapseArticleSubMenus">
        <span class="oi oi-book"></span>
        <span class="text">Catalog</span>
      </a>
      <ul id="collapseCreateSubMenus" class="collapse list-unstyled">
        <li class="active sw-sidenav-active">
          <a routerLink="/portal/cms/article/create-article">
            <span class="oi oi-plus"></span>
            <span class="text">Create Catalog</span>
          </a>
        </li>
        <li>
          <a routerLink="/portal/cms/article/list-article">
            <span class="oi oi-list"></span>
            <span class="text">List Catalog</span>
          </a>
        </li>
        <li>
          <a routerLink="/portal/cms/article/list-draft-article">
            <span class="oi oi-pencil"></span>
            <span class="text">Draft</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sw-toc-item">
      <a class="sw-toc-link" data-toggle="collapse" href="#collapsePageSubMenus" aria-expanded="false" aria-controls="collapsePageSubMenus">
        <span class="oi oi-home"></span>
        <span class="text">Stores</span>
      </a>
      <ul id="collapsePageSubMenus" class="collapse list-unstyled">
        <li class="active sw-sidenav-active">
          <a routerLink="/portal/cms/page/create-page">
            <span class="oi oi-plus"></span>
            <span class="text">Create Store</span>
          </a>
        </li>
        <li>
          <a routerLink="/portal/cms/page/list-page">
            <span class="oi oi-list"></span>
            <span class="text">List Store</span>
          </a>
        </li>
        <li>
          <a routerLink="/portal/cms/page/list-draft-page">
            <span class="oi oi-pencil"></span>
            <span class="text">Draft</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sw-toc-item">
      <a class="sw-toc-link" data-toggle="collapse" href="#collapseModuleSubMenus" aria-expanded="false" aria-controls="collapseModuleSubMenus">
        <span class="oi oi-cart"></span>
        <span class="text">Orders</span>
      </a>
      <ul id="collapseModuleSubMenus" class="collapse list-unstyled">
        <li>
          <a routerLink="/portal/cms/module/list-module">
            <span class="oi oi-list"></span>
            <span class="text">List Order</span>
          </a>
        </li>
        <li>
          <a routerLink="/portal/cms/module/list-draft-module">
            <span class="oi oi-pencil"></span>
            <span class="text">Draft</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sw-toc-item">
      <a class="sw-toc-link" data-toggle="collapse" href="#collapseUsersSubMenus" aria-expanded="false" aria-controls="collapseSettingSubMenus">
        <span class="oi oi-people"></span>
        <span class="text">Customers</span>
      </a>
      <ul id="collapseUsersSubMenus" class="collapse list-unstyled">
        <li class="active sw-sidenav-active">
          <a routerLink="/portal/cms/user/create-user">
            <span class="oi oi-plus"></span>
            <span class="text">Add User</span>
          </a>
        </li>
        <li>
          <a routerLink="/portal/cms/user/list-user">
            <span class="oi oi-list"></span>
            <span class="text">List User</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sw-toc-item">
      <a class="sw-toc-link" data-toggle="collapse" href="#collapseSettingSubMenus" aria-expanded="false" aria-controls="collapseSettingSubMenus">
        <span class="oi oi-wrench"></span>
        <span class="text">Settings</span>
      </a>
      <ul id="collapseSettingSubMenus" class="collapse list-unstyled">
        <li class="active sw-sidenav-active">
          <a routerLink="/portal/cms/setting/list-setting">
            <span class="oi oi-list"></span>
            <span class="text">Configurations</span>
          </a>
        </li>
        <li>
          <a routerLink="/portal/cms/setting/list-setting">
            <span class="oi oi-globe"></span>
            <span class="text">Cultures</span>
          </a>
        </li>
      </ul>
    </div>
    <!--<div class="dropdown-divider"></div>-->

    <!--<div class="sw-toc-item">
      <a class="sw-toc-link" data-toggle="collapse" href="#collapseUIRefSubMenus" aria-expanded="false" aria-controls="collapseSettingSubMenus">
        <span class="oi oi-wrench"></span>
        <span class="text">UI References</span>
      </a>
      <ul id="collapseUIRefSubMenus" class="collapse list-unstyled">
        <li class="active sw-sidenav-active">
          <a href="#">
            <span class="oi oi-list"></span>
            <span class="text">Editors</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="oi oi-globe"></span>
            <span class="text">Components</span>
          </a>
        </li>
      </ul>
    </div>-->
  </nav>
</div>
