<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-white navbar-absolute navbar-transparent fixed-top">
    <div class="container">
        <div class="dropdown button-dropdown">
            <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                <span class="button-bar"></span>
                <span class="button-bar"></span>
                <span class="button-bar"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-header">Dropdown header</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">One more separated link</a>
            </div>
        </div>
        <div class="navbar-translate">
            <a class="navbar-brand" href="http://www.swastika.io" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
                Swastika I/O
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="../assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link" [routerLink]="['/home']">
                        <i class='now-ui-icons design_app'></i> <p>Home</p>
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link" [routerLink]="['/counter']">
                        <i class='now-ui-icons files_paper'></i> <p>Counter</p>
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link" [routerLink]="['/blog']">
                        <i class='now-ui-icons files_paper'></i> <p>Blog</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/portal/">
                        <i class='now-ui-icons ui-1_settings-gear-63'></i> <p>Portal</p>
                    </a>
                </li>
                <!-- <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link" [routerLink]="['/fetch-data']">
                        <i class='now-ui-icons shopping_box'></i> <p>Fetch data</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html" target="_blank">
                        <i class="now-ui-icons design_app"></i>
                        <p>Components</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                        <i class="now-ui-icons files_paper" aria-hidden="true"></i>
                        <p>Sections</p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="../sections.html#headers">
                            <i class="now-ui-icons shopping_box"></i> Headers
                        </a>
                        <a class="dropdown-item" href="../sections.html#features">
                            <i class="now-ui-icons ui-2_settings-90"></i> Features
                        </a>
                        <a class="dropdown-item" href="../sections.html#blogs">
                            <i class="now-ui-icons text_align-left"></i> Blogs
                        </a>
                        <a class="dropdown-item" href="../sections.html#teams">
                            <i class="now-ui-icons sport_user-run"></i> Teams
                        </a>
                        <a class="dropdown-item" href="../sections.html#projects">
                            <i class="now-ui-icons education_paper"></i> Projects
                        </a>
                        <a class="dropdown-item" href="../sections.html#pricing">
                            <i class="now-ui-icons business_money-coins"></i> Pricing
                        </a>
                        <a class="dropdown-item" href="../sections.html#testimonials">
                            <i class="now-ui-icons ui-2_chat-round"></i> Testimonials
                        </a>
                        <a class="dropdown-item" href="../sections.html#contactus">
                            <i class="now-ui-icons tech_mobile"></i> Contact Us
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                        <i class="now-ui-icons design_image" aria-hidden="true"></i>
                        <p>Examples</p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="../examples/about-us.html">
                            <i class="now-ui-icons business_bulb-63"></i> About-us
                        </a>
                        <a class="dropdown-item" href="../examples/blog-post.html">
                            <i class="now-ui-icons text_align-left"></i> Blog Post
                        </a>
                        <a class="dropdown-item" href="../examples/blog-posts.html">
                            <i class="now-ui-icons design_bullet-list-67"></i> Blog Posts
                        </a>
                        <a class="dropdown-item" href="../examples/contact-us.html">
                            <i class="now-ui-icons location_pin"></i> Contact Us
                        </a>
                        <a class="dropdown-item" href="../examples/landing-page.html">
                            <i class="now-ui-icons education_paper"></i> Landing Page
                        </a>
                        <a class="dropdown-item" href="../examples/login-page.html">
                            <i class="now-ui-icons users_circle-08"></i> Login Page
                        </a>
                        <a class="dropdown-item" href="../examples/pricing.html">
                            <i class="now-ui-icons business_money-coins"></i> Pricing
                        </a>
                        <a class="dropdown-item" href="../examples/ecommerce.html">
                            <i class="now-ui-icons shopping_shop"></i> Ecommerce Page
                        </a>
                        <a class="dropdown-item" href="../examples/product-page.html">
                            <i class="now-ui-icons shopping_bag-16"></i> Product Page
                        </a>
                        <a class="dropdown-item" href="../examples/profile-page.html">
                            <i class="now-ui-icons users_single-02"></i> Profile Page
                        </a>
                        <a class="dropdown-item" href="../examples/signup-page.html">
                            <i class="now-ui-icons tech_mobile"></i> Signup Page
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="https://www.creative-tim.com/product/now-ui-kit-pro" target="_blank">
                        <p>Buy Now</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="hidden-lg-up">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="hidden-lg-up">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="hidden-lg-up">Instagram</p>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<!--<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Swastika.IO.Admin</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
            </ul>
        </div>
        
    </div>
</div>-->
