<template>

    <div class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
        <!-- Icons -->
        <link href="/dist/coreui/css/font-awesome.min.css" rel="stylesheet">
        <link href="/dist/coreui/css/simple-line-icons.css" rel="stylesheet">
        <!-- Main styles for this application -->
        <link href="/dist/coreui/css/style.css" rel="stylesheet">

        <app-header />
        
        <router-view></router-view>

        <footer class="app-footer">
            <a href="http://swastika.io">Swastika I/O</a> © 2017 creativeLabs.
            <span class="float-right">
                Powered by <a href="http://swastika.io">Swastika I/O</a>
            </span>
        </footer>
    </div>
</template>

<script src="./portal.ts"></script>