@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    string culture = ViewBag.culture;
}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">                
                <a class="nav-link" asp-route-culture="@culture" asp-controller="Culture" asp-action="Index"><i class="icon-speedometer"></i> Cultures</a>
                <a class="nav-link" asp-route-culture="@ViewBag.culture" asp-controller="TTSBanners" asp-action="Index"><i class="icon-speedometer"></i> Banners</a>
                <a class="nav-link" asp-route-culture="@ViewBag.culture" asp-controller="TTSMenu" asp-action="Index"><i class="icon-speedometer"></i> Menus</a>
            </li>
            
        </ul>
    </nav>
</div>