<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, IE=edge" />
    <title>@ViewData["Title"] - Swastika I/O</title>

    @*<link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />*@
    <link href="/themes/blog/css/font-awesome.min.css" rel="stylesheet">
    <link href="/themes/blog/css/simple-line-icons.css" rel="stylesheet">
    <link href="~/themes/blog/css/simplePagination.css" rel="stylesheet" />
    <link href="/themes/blog/css/style.css" rel="stylesheet">
</head>

<body>
    @RenderBody()


    <!-- Bootstrap and necessary plugins -->
    <script src="/themes/blog/js/libs/jquery.min.js"></script>
    <script src="/themes/blog/js/libs/tether.min.js"></script>
    <script src="/themes/blog/js/libs/bootstrap.min.js"></script>
    <!-- AngularJS -->
    <script src="/themes/blog/js/libs/angular.min.js"></script>
    <!-- AngularJS plugins -->
    <script src="/themes/blog/js/libs/angular-ui-router.min.js"></script>
    <script src="/themes/blog/js/libs/ocLazyLoad.min.js"></script>
    <script src="/themes/blog/js/libs/angular-breadcrumb.min.js"></script>
    <script src="/themes/blog/js/libs/loading-bar.min.js"></script>
    <script src="/themes/blog/js/libs/jquery.simplePagination.js"></script>
    <!-- AngularJS CoreUI App scripts -->
    <script src="/js/common.js"></script>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>

    <script src="~/dist/coreui/js/app.js" language="javascript"></script>
    <script>
        let initPagination = function () {
            var pagination = $('.pagination')
            pagination.pagination({
                items: pagination.attr('items'),
                itemsOnPage: pagination.attr('pageSize'),
                currentPage: pagination.attr('pageIndex')
            });
        }        
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>