@{
    string img = Model != null ? Model.Image : "http://placehold.it/200x200";
}

<div class="card">
    <div class="card-header">
        Feature image
    </div>
    <div class="card-body p-0" style="background:url(/images/upload-image-thumbnail.png) no-repeat center;  cursor:pointer;">
        <span asp-validation-for="Image" class="text-danger"></span>
        <span class="custom-file" style="min-height:150px; overflow:hidden;">
            <button class="btn btn-dark btn-sm custom-file-cropper position-absolute m-1 collapse" style="z-index:3; right:0;" data-toggle="modal" data-target=".image-crop-modal-lg" data-imgsrc="">
                <i class="mi mi-Crop"></i>
            </button>
            <input type="file" name="pic" class="custom-file-input auto-upload position-absolute" style="height:400px; cursor:pointer;">
            <img src="@img" name="pic" class="custom-file-img " accept="image/*" width="100%" />
            <input type="hidden" value="Articles/@Model.SeoTitle" class="folder-val" />
            <input type="text" asp-for="Image" class="form-control custom-file-val d-none">
        </span>
    </div>
</div>
