<!-- Main content -->
<section class="" ng-init="$ctrl.loadTemplate()">
    
    <form ng-class="{'submitted': submitted}"
          ng-submit="$ctrl.saveTemplate(activedTemplate)"
          ng-if="$ctrl.activedTemplate">    
        {{$ctrl.listUrl}}
        <actions back-url="$ctrl.listUrl"></actions>
        <div class="m-4"></div>
        <div class="row">
            <div class="col-md-12">
                <tabs-v>
                    <pane-v title="Razor Template">
                        <div class="container-code-editor">
                            <div class="form-control code-editor">{{$ctrl.activedTemplate.content}}</div>
                            <input class="form-control code-content" type="hidden" 
                                   ng-model="$ctrl.activedTemplate.content"
                                   value="{{$ctrl.activedTemplate.content}}">
                        </div>
                    </pane-v>
                    <pane-v title="Scripts">
                        <div class="container-code-editor">
                            <div class="form-control code-editor">{{$ctrl.activedTemplate.scripts}}</div>
                            <input class="form-control code-content" type="hidden" ng-model="$ctrl.activedTemplate.scripts"
                                   value="{{$ctrl.activedTemplate.scripts}}">
                        </div>
                    </pane-v>
                    <pane-v title="Styles">
                        <div class="container-code-editor">
                            <div class="form-control code-editor">{{$ctrl.activedTemplate.styles}}</div>
                            <input class="form-control code-content" type="hidden" ng-model="$ctrl.activedTemplate.styles"
                                   value="{{$ctrl.activedTemplate.styles}}">
                        </div>
                    </pane-v>
                </tabs-v>
            </div>
        </div>
    </form>
</section>
<!-- /.content -->