@model BETemplateViewModel
@{
    var lst = new SelectList(Enum.GetNames(typeof(Swastika.Cms.Lib.SWCmsConstants.TemplateFolderEnum)).ToList());
}


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Main Content
            </div>
            <div class="card-body">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="CreatedDateTime" />
                <input type="hidden" asp-for="TemplateId" />
                <input type="hidden" asp-for="TemplateName" />
                <input type="hidden" asp-for="FileFolder" />
                <input type="hidden" asp-for="Extension" />
                <input type="hidden" asp-for="LastModified" />

                <div class="form-group">
                    <label asp-for="AssetFolder" class="control-label"></label>
                        <input asp-for="AssetFolder" onclick="this.select()" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="TemplateFolder" class="control-label"></label>
                        <input asp-for="TemplateFolder" onclick="this.select()" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="FileName" class="control-label"></label>
                        <input asp-for="FileName" class="form-control" />
                        <span asp-validation-for="FileName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>


                        @Html.Partial("_Editor_Code", Model, new ViewDataDictionary(this.ViewData)
                       {
                       {
                               "Files", null
                           },
                           {
                               "Name", ""
                           }

                        })
                        @* <input asp-for="View.Filename" class="form-control"/>

                <div class="form-control" id="code-editor" asp-for="View.Content"></div>*@
                        <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>
