@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer class="app-footer">
    <a href="http://coreui.io">CoreUI</a> © 2017 creativeLabs.
    <span class="float-right">
        Powered by <a href="http://coreui.io">CoreUI</a>
    </span>
</footer>
<!-- Bootstrap and necessary plugins -->
<script src="/js/jquery.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/pace.min.js"></script>
<script src="/js/common.js"></script>
<!-- Plugins and scripts required by all views -->
<script src="/js/chart.min.js"></script>

<!-- GenesisUI main scripts -->
<script src="/js/app.min.js"></script>