@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/BlogAdmin"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
            
        </ul>
    </nav>
</div>