<!doctype html>
<html lang="en">

<head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <style>
    </style>
</head>

<body>
    <sioa-header></sioa-header>
    <!-- Page Content Holder -->
    <div class="container-fluid wrapper">
        <div class="row flex-xl-nowrap">
            <sioa-sidebar></sioa-sidebar>
        </div>
    </div>
</body>

</html>