@{
    ViewData["Title"] = "Dashboard";
    ViewData["Description"] = "Your powerful dashboard is here";
    Layout = "_LayoutPortal_Angular";
}
<section class="content container-fluid">
    <div class="container-fluid row {{pageClass}}" ng-view>
        <h1>loading</h1>
    </div>
</section>

@section scripts{
    
}