@{
    ViewData["Title"] = "Setup database";
    Layout = "_LayoutNowUI_Angular";
}

<section class="content container-fluid">
    <div class="{{pageClass}}" ng-view>
    </div>
    <message message="message"></message>
    <confirm message="confirmMessage"></confirm>
</section>
