<!-- Content Holder -->
<main class="py-md-3 px-md-4 sw-content" role="main">

    <div class="row sortable">
        <div class="col-sm-3">
            <div class="card draggable1">
                <div class="card-body">
                    <h4 class="card-title">CMS</h4>
                    <p class="card-text">Where you can manage all the system contents.</p>
                    <a routerLink="/portal/cms" class="btn btn-primary">CMS Dashboard</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card draggable1">
                <div class="card-body">
                    <h4 class="card-title">Ecom</h4>
                    <p class="card-text">Where you can manage all products from your stores.</p>
                    <a routerLink="/portal/store" class="btn btn-primary">Ecom dashboard</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card draggable1">
                <div class="card-body">
                    <h4 class="card-title">Messenger</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="/portal/messenger" class="btn btn-primary">Messenger Dashboard</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card draggable1">
                <div class="card-body">
                    <h4 class="card-title">Draggable 4</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</main>