<!-- <div class="container">
    <div class="row justify-content-start">
        <div class="col-8">
            <img src="https://avatars1.githubusercontent.com/u/3785721?s=40&v=4" width="50" height="50" alt="" class="img rounded-circle">
            <p>lorem...</p>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-8 float-right text-right">
                <p>lorem...</p>
            <img src="https://avatars1.githubusercontent.com/u/3785721?s=40&v=4" width="50" height="50" alt="" class="img rounded-circle">
        </div>
    </div>
</div> -->

<div class="container message" id="conversation">
        <div class="row message-previous">
          <div class="col-sm-12 previous">
            <a onclick="previous(this)">
            Show Previous Message!
            </a>
          </div>
        </div>

        <div class="row justify-content-start message-body">
          <div class="col-sm-12 message-main-receiver">
            <div class="receiver">
              <div class="message-text">
               Hi, what are you doing?!
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-end message-body">
          <div class="col-sm-12 message-main-sender">
            <div class="sender">
              <div class="message-text">
                I am doing nothing man!
              </div>
            </div>
          </div>
        </div>
      </div>