<!-- <div class="container">
    <div class="row justify-content-start">
        <div class="col-8">
            <img src="https://avatars1.githubusercontent.com/u/3785721?s=40&v=4" width="50" height="50" alt="" class="img rounded-circle">
            <p>lorem...</p>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-8 float-right text-right">
                <p>lorem...</p>
            <img src="https://avatars1.githubusercontent.com/u/3785721?s=40&v=4" width="50" height="50" alt="" class="img rounded-circle">
        </div>
    </div>
</div> -->

<div class="container message" id="conversation">
  <div class="row">
    <div class="col-sm-6" [hidden]="message.username!=undefined">
      <input type="text" class="form-control" [(ngModel)]="user.username" />
      <input type="text" class="form-control" [(ngModel)]="user.userAvatar" />
      <a class="btn btn-success" href="javascript:void()" (click)="hubConnect()">Connect</a>
    </div>
  </div>
  <div class="row message-previous">
    <div class="col-sm-12 previous">
      <a onclick="previous(this)">
        Show Previous Message!
      </a>
    </div>
  </div>

  <div class="row justify-content-start message-body" *ngFor="let msg of messages; let i = index">
    <div class="col-sm-12 message-main-receiver">
      <div class="avatar">
        <img src="{{msg.userAvatar}}" width="25" height="25" alt="" class="img rounded-circle">
      </div>
      <div class="receiver">
        <div class="message-text">
          {{msg.content}}
        </div>
      </div>
    </div>
  </div>

  <!--<div class="row justify-content-end message-body">
      <div class="col-sm-12 message-main-sender">
          <div class="avatar">
              <img src="https://avatars3.githubusercontent.com/u/5327699?s=96&v=4" width="25" height="25" alt="" class="img rounded-circle">
          </div>
          <div class="sender">
              <div class="message-text">
                  I am doing nothing man!
              </div>
          </div>
      </div>
  </div>

  <div class="row justify-content-start message-body">
      <div class="col-sm-12 message-main-receiver">
          <div class="avatar">
              <img src="https://avatars1.githubusercontent.com/u/3785721?s=40&v=4" width="25" height="25" alt="" class="img rounded-circle">
          </div>
          <div class="receiver">
              <div class="message-text">
                  It is fun!
              </div>
          </div>
      </div>
  </div>


  <div class="row justify-content-end message-body">
      <div class="col-sm-12 message-main-sender">
          <div class="avatar">
              <img src="https://avatars3.githubusercontent.com/u/5327699?s=96&v=4" width="25" height="25" alt="" class="img rounded-circle">
          </div>
          <div class="sender">
              <div class="message-text">
                  Yeah!
              </div>
          </div>
      </div>
  </div>-->
</div>
<!-- Footer -->
<sw-footer [(message)]="message" (onSendMessage)="sendMessage()"></sw-footer>
