<template>

    <div class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
        <app-header />

        <div class="app-body">
            <div class="sidebar">
                <sidebar-component />
            </div>
            <!-- Main content -->
            <main class="main">

                <breadcrumb-component />

                <div class="container-fluid">
                    <router-view></router-view>
                </div>
                <!-- /.conainer-fluid -->
            </main>            
        </div>
    </div>
</template>

<script src="./blog.ts"></script>