<template>

    <div class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
        <app-header />

        <div class="app-body">
            <div class="sidebar">
                <sidebar-component />
            </div>
            <!-- Main content -->
            <main class="main">

                <breadcrumb-component />

                <div class="container-fluid">
                    <router-view></router-view>
                </div>
                <!-- /.conainer-fluid -->
            </main>            
        </div>
        <footer class="app-footer">
            <a href="http://swastika.io">Swastika I/O</a> © 2017 creativeLabs.
            <span class="float-right">
                Powered by <a href="http://swastika.io">Swastika I/O</a>
            </span>
            <vue-pages url="#" total="100" counts="10" current="1" fn=""></vue-pages>
        </footer>
    </div>
</template>

<script src="./blog.ts"></script>