<ul class="navbar-nav sw-navbar-nav flex-row">
    <li class="nav-item"><a class="nav-link" href="#">@this.ViewContext.RouteData.Values["area"].ToString()</a></li>
    <span class="oi oi-chevron-right breadcrumb-item"></span>
    <li class="nav-item"><a class="nav-link" href="#">@this.ViewContext.RouteData.Values["controller"].ToString()</a></li>
    <span class="oi oi-chevron-right breadcrumb-item"></span>
    <li class="nav-item active"><span class="nav-link">@this.ViewContext.RouteData.Values["action"].ToString()</span></li>
</ul>
