@model BELanguageViewModel
@{
    var types = Html.GetEnumSelectList<Swastika.Cms.Lib.SWCmsConstants.DataType>();
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Main Content
            </div>
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Specificulture" />
                <div class="form-group">
                    <label asp-for="Keyword" class="control-label"></label>
                    <div>
                        <input asp-for="Keyword" class="form-control" />
                        <span asp-validation-for="Keyword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <div>
                        @Html.Partial("_Editor",
                                         new ViewDataDictionary(this.Vi‌​ewData) {
                                        {
                                        "DataType", Model.DataType
                                        },
                                        {
                                        "Value", Model.Value
                                        },
                                        {
                                        "Name","Value"
                                        },
                                        {

                                        "Id","Value"
                                        }
                                         }
                                         )

                        <span asp-validation-for="Value" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <div>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="DataType" class="control-label"></label>
                    <div>
                        <select asp-for="DataType" class="form-control" asp-items="@types"></select>
                        <span asp-validation-for="DataType" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>