<!-- Header -->
<div id="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>We are <span class="brand-heading">Modus</span></h1>
                    <p class="intro-text">A full-service digital agency that loves what we do</p>
                    <a href="#about" class="btn btn-default page-scroll">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
