<div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/Content/Templates/Default/assets/img/bg26.jpg');">
    </div>
    <div class="content-center">
        <h1 class="title">This is our great company.</h1>
        <div class="text-center">
            <a href="#pablo" class="btn btn-primary btn-icon  btn-round">
                <i class="fa fa-facebook-square"></i>
            </a>
            <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                <i class="fa fa-google-plus"></i>
            </a>
        </div>
    </div>
</div>
