<template>
    <nav class="sidebar-nav">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <router-link to="/portal" class="nav-link"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></router-link>
                    
                </li>
                <li class="nav-item">
                    <router-link to="/portal/widgets" class="nav-link"><i class="icon-calculator"></i> Widgets <span class="badge badge-info">NEW</span></router-link>
</li>
            </ul>
        </nav>
    </nav>
</template>