<section class="content container-fluid">
    <filter-list request="request" callback="loadPages(pageIndex)" />

    <table id="list-page" class="table table-hover sortable" cellspacing="0" ng-init="data = loadPages()">
        <thead class="thead-light">
            <tr>
                <th scope="col" width="3%">
                    <span class="fas fa-sort"></span>
                </th>
                <th scope="col" width="4%">
                    <span class="fas fa-sort-numeric-down"></span>
                </th>
                <th scope="col" width="20%">
                    Title
                </th>
                <th scope="col">
                    Description
                </th>
                <th scope="col" width="15%">
                    Created Date
                </th>
                <th scope="col" width="10%">
                    By
                </th>

                <th scope="col" width="5%" class="text-right">Actions</th>
            </tr>
        </thead>

        <tbody class="sortable-item" ng-repeat="item in data.items track by $index">
            <tr class="" sort-model="category" sort-model-id="{{item.id}}" data-toggle="collapse" href="#collapse-page{{item.id}}-childs" role="button" aria-expanded="false" aria-controls="collapse-page{{item.id}}-childs">

                <td style="cursor:move;" class="drag-header">
                    <span class="fas fa-sort"></span>
                </td>
                <td>
                    <input type="text" value="{{item.priority}}" class="item-priority form-control form-control-sm d-inline" style="width:40px;" />
                </td>

                <td>
                    {{item.title}}
                </td>
                <td>
                    <small>
                        {{item.excerpt}}
                    </small>
                </td>
                <td>
                    <small>
                        {{item.createdDateTime | utcToLocal:'dd.MM.yy - hh:mm a'}}
                    </small>
                </td>
                <td>
                    {{item.createdBy}}
                </td>

                <td>
                    <div class="btn-group btn-group-sm btn-group-sm float-right" role="group" aria-label="Actions">

                        <a ng-if="item.childs.length>0" class="btn btn-light" data-toggle="collapse" href="#collapse-page{{item.id}}-childs" role="button" aria-expanded="false" aria-controls="collapse-page{{item.id}}-childs">
                            <span class="fas fa-sitemap text-success"></span>
                        </a>
                        <a href="/backend/page/details/{{item.id}}" class="btn btn-light"> <span class="fas fa-pencil-alt text-primary"></span></a>
                        <a href="{{item.detailsUrl}}" target="_blank" class="btn btn-light"><span class="fas fa-eye text-info"></span></a>
                        <a href="#" class="btn btn-light"
                           ng-click="removePage(item.id)">
                            <span class="fas fa-times text-danger"></span>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="7" style="padding:0">
                    <div class="collapse" id="collapse-page{{item.id}}-childs" data-parent="#list-page">
                        <table class="table table-sm table-hover mb-0" cellspacing="0" style="background-color: #eee;" ng-if="item.childs.length>0">
                            <thead style="font-size:small; font-weight:normal">
                                <tr>
                                    <th scope="col" width="3%">
                                        <span class="fas fa-sort" style="font-size:small"></span>
                                    </th>
                                    <th scope="col" width="4%">
                                        <span class="fas fa-sort-numeric-down"></span>
                                    </th>
                                    <th scope="col" width="20%">
                                        Title
                                    </th>
                                    <th scope="col">
                                        Description
                                    </th>
                                    <th scope="col" width="15%">
                                        Created Date
                                    </th>
                                    <th scope="col" width="10%">
                                        Created By
                                    </th>

                                    <th scope="col" width="5%" class="text-right">Actions</th>
                                </tr>
                            </thead>

                            <tbody class="sortable">
                                <tr class="sortable-item" ng-repeat="c in item.childs track by $index">
                                    <td style="cursor:move;" class="drag-header">
                                        <span class="fas fa-sort" style="font-size:small"></span>
                                    </td>
                                    <td>
                                        <input type="text" value="0" class="item-priority form-control form-control-sm d-inline" style="width:40px;">
                                    </td>
                                    <td>
                                        <span ng-bind="c.title" />
                                    </td>
                                    <td>
                                        <span ng-bind="c.excerpt" />
                                    </td>
                                    <td>
                                        <small>
                                            {{c.createdDateTime | utcToLocal:'dd.MM.yy - hh:mm a'}}
                                        </small>
                                    </td>
                                    <td>
                                        {{c.createdBy}}
                                    </td>

                                    <td>
                                        <div class="btn-group btn-group-sm btn-group-sm float-right" role="group" aria-label="Actions">
                                            <a href="/backend/page/details/{{c.id}}" class="btn btn-light"> <span class="fas fa-pencil-alt text-primary"></span></a>
                                            <a href="{{c.detailsUrl}}" target="_blank" class="btn btn-light"><span class="fas fa-eye text-info"></span></a>

                                            <button type="button" class="btn btn-light del-popover" ng-click="removePage(c.id)">
                                                <span class="fas fa-times text-danger"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <paging class="small" page="data.pageIndex+1"
            page-size="data.pageSize"
            total="data.totalItems"
            ul-class="pagination justify-content-end"     
            a-class="page-link"
            paging-action="loadPages(page-1)"
            scroll-top="true"/>
</section>
