
.card-header {
    padding: $card-spacer-y $card-spacer-x;
    margin-bottom: 0; // Removes the default margin-bottom of <hN>
    background-color: $card-cap-bg;
    border-bottom: $card-border-width solid $card-border-color;
    // font-weight: bold;
  
    &:first-child {
      @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
    }
  
    + .list-group {
      .list-group-item:first-child {
        border-top: 0;
      }
    }
  }
.card-header-small {
    padding: $card-spacer-y $card-spacer-x;
    margin-bottom: 0; // Removes the default margin-bottom of <hN>
    background-color: $card-cap-bg;
    border-bottom: $card-border-width solid $card-border-color;
  
    &:first-child {
      @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
    }
  
    + .list-group {
      .list-group-item:first-child {
        border-top: 0;
      }
    }
  }
.card-header-nav-pills{
    padding:none;
    border-bottom: $card-border-width solid $card-border-color;
    
    .nav-pills .nav-link {
        padding: $card-spacer-y $card-spacer-x;
        // text-transform: uppercase;
        border-radius: 0px;
        min-width: 100px;
    }
    .nav-pills .nav-link:first-child {
        @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        font-weight: bold;
        border-bottom: 1px solid #fff;
        background-color: transparent;
    }
}
.card{
    // background-color: $card-bg;
    border: none;
    border-radius: 5px;
    position: relative;
    margin-bottom: 24px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
    // background: url(../img/blur-bg-blurred.jpg) fixed;
}