// Local docs variables
$sw-black:        #000 !default;
$sw-purple:        #563d7c !default;
$sw-bg: rgba(0,0,0,.5) !default;
$sw-black-bright: lighten(saturate($sw-black, 5%), 15%) !default;
$sw-black-light:  lighten(saturate($sw-black, 5%), 45%) !default;
$sw-dark:          #2a2730 !default;
$sw-download:      #ffe484 !default;
$sw-info:          #5bc0de !default;
$sw-warning:       #f0ad4e !default;
$sw-danger:        #d9534f !default;