@{
    var contact = new TTS.Lib.ViewModels.ModuleDataViewModel();
    string culture = ViewBag.culture;
    int id = 16;
    TTS.Lib.ViewModels.ModuleViewModel module = await TTS.Lib.Repositories.ModuleRepository.GetInstance().GetSingleModelAsync(
m => m.Id == id && m.Specificulture == culture, Swastika.Common.Constants.ViewModelType.BackEnd);
    if (module != null)
    {
        contact = new TTS.Lib.ViewModels.ModuleDataViewModel(culture, module.Columns)
        {
            Id = Guid.NewGuid().ToString("N"),
            ModuleId = id,
            Specificulture = culture,
            Fields = module.Fields
        };
    }
}
<section id="contact-page">
    <div class="container">
        <div class="center">
            <h2>Drop Your Message</h2>
            <p class="lead">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
            @Html.Partial("Forms/_Module_Data_Default", contact)
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#contact-page-->