<template>
    <div id="page-dashboard" class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify" />
                <span v-text="title" />

                <router-link v-bind:to="createUrl" class="nav-link btn-outline-success"><i class="icon-calculator"></i> Create New</router-link>
            </div>
            <div class="card-block" v-if="models!=null">
                <table class="table table-bordered table-striped">
                    <thead>
                        <th v-for="header in headers"> <span v-text="header.display" /></th>
                        <th>
                            Actions
                        </th>
                    </thead>
                    <tbody>
                        <tr v-for="item in models.items">
                            <td v-for="header in headers"> <span v-text="item[header.key]" /> </td>
                            <td>
                                <div class="d-inline-block">
                                    <router-link v-bind:to="getDetailsUrl + item.id" class="btn btn-sm btn-info"><i class="fa fa-eye"></i> </router-link>
                                    <click-confirm class="d-inline-block">
                                        <button type="button" @click="remove(item.id)" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i> </button>
                                    </click-confirm>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <vuepagination2 for="models" :records="models.totalItems" :perPage="models.pageSize"></vuepagination2>
            </div>
        </div>
    </div>
</template>
<script src="./paging-container.ts"></script>