<div id="sidebar" class="sw-sidebar" ng-init="$ctrl.init()">
    
    <select class="btn btn-outline-secondary custom-select"
                    ng-options="item as item.name for item in $ctrl.items track by item.name"
                    ng-model="$ctrl.role" 
                    ></select>
    <ul class="sw-links" id="sw-docs-nav" data-children=".sw-toc-item" ng-if="$ctrl.role">
        <li ng-repeat="permission in $ctrl.role.permissions">
            <main-side-bar-item-dynamic item="permission" icon-size="'mi-lg'"></main-side-bar-item-dynamic>
        </li>
        <li class="sw-toc-item mt-1 mb-1"></li>
        <li class="sw-toc-item mt-1 mb-1"></li>
    </ul>
    
</div>